@model CLiFinancial.FixedAssets.Cards.Categories
@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@iT.T(xLan,"1418","Fixture Category")</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    </div>
    <form id="frm-Categories" data-parsley-validate="true">
        <div class="modal-body">
            @Html.HiddenFor(m => m.Key)
            @{
                if (Model.Key != null)
                {
                    <div class="xkey text-gray">@iT.T(xLan,"1299","Key"): @Model.Key</div>
                }
            }
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1265","No")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().NumberBoxFor(m => m.No).ID("cnt-No").Width(120)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1328","Prefix")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Prefix).ID("cnt-Prefix").InputAttr("required", true).Width(120)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2338","Category Name")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Name1).ID("cnt-Name1").InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1166","English Name")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Name2).ID("cnt-Name2")
                </div>
            </div>
            <hr class="m-2 p-0" />
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1410","Percent")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().NumberBoxFor(m => m.Percent).ID("cnt-Percent").Width(120)
                </div>
            </div>
            <div class="form-group row" hidden>
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1419","Integration Method")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().SelectBoxFor(m => m.DetailMethod).ID("cnt-DetailMethod").Width(120).DataSource(iReplacer.fxdDetailsMethod(xLan)).ValueExpr("Value").DisplayExpr("Display")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1014","Assets")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().LookupFor(m => m.Assets).ID("cnt-Assets").DataSource(CLiAccounting.Selections.AccountsParentLevel.GetList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1413","Amortization")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().LookupFor(m => m.Amortization).ID("cnt-Amortization").DataSource(CLiAccounting.Selections.AccountsParentLevel.GetList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1414","Depreciation")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().LookupFor(m => m.Depreciation).ID("cnt-Depreciation").DataSource(CLiFinancial.Selections.Dynamic.TransactionAccount(DB,xLan,PLenums.TransactionAccount.Expenses)).ValueExpr("Key").DisplayExpr("Display")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1980","Sales Loss")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().LookupFor(m => m.SalesLoss).ID("cnt-SalesLoss").DataSource(CLiFinancial.Selections.Dynamic.TransactionAccount(DB,xLan,PLenums.TransactionAccount.Revenue)).ValueExpr("Key").DisplayExpr("Display")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1981","Sales Profit")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().LookupFor(m => m.SalesProfit).ID("cnt-SalesProfit").DataSource(CLiFinancial.Selections.Dynamic.TransactionAccount(DB,xLan,PLenums.TransactionAccount.Expenses)).ValueExpr("Key").DisplayExpr("Display")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1282","Status")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().SwitchFor(m => m.Disable).ID("cnt-Disable").Width(65).SwitchedOnText("Disable").SwitchedOffText("Active")
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-yellow text-dark">@iT.T(xLan,"1197","Save Change")</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"1198","Cancel")</button>
            </div>
        </div>
    </form>
</div>
<script class="append-on-ajax-script">
    $(document).ready(function ()
    {
        $("#frm-Categories").submit(function (event)
        {
            event.preventDefault();
            SaveAccount();
        });
    });
    function SaveAccount ()
    {
        if ($('#cnt-Code').dxTextBox('option', 'text') == "")
        {
            alert('Please enter Code!');
            return;
        }
        if ($('#cnt-Name1').dxTextBox('option', 'text') == "")
        {
            alert('Please enter name (Display) !');
            return;
        }
        if ($('#cnt-Assets').dxLookup('option', 'value') == null)
        {
            alert('Please select assets account!');
            return;
        }
        if ($('#cnt-Amortization').dxLookup('option', 'value') == null)
        {
            alert('Please select amortization account!');
            return;
        }
        var data = $('#frm-Categories').serialize();
        $.ajax({
            type: "POST",
            url: "/api/fxd/icards/UpdateCategories",
            data: data,
            dataType: "json",
            success: function (response)
            {
                $("#mod-Categories").modal('toggle');
                RefreshGrid();
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
    }
</script>
