@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    int Year = Convert.ToInt32(User.FindFirstValue("aiwYear"));
    bool devRtl;
    DevExtreme.AspNet.Mvc.HorizontalEdge devFixd;
    if (User.FindFirstValue("aiwLan") == "en")
    {
        devRtl = false;
        devFixd = HorizontalEdge.Left;
    }
    else
    {
        devRtl = true;
        devFixd = HorizontalEdge.Right;
    }
}
<style>
    .acc .widget {
        margin-bottom: 4px;
    }

    .acc hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }
</style>
<h1 class="page-header">@iT.T(xLan,"1237","Analytical Trial Balance")</h1>
<div class="panel panel-inverse">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="form-group row">
                    <label class="col-3 ">@iT.T(xLan,"1222","Year")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("edYear").ShowSpinButtons(true).Width(130).Value(Year).OnValueChanged("ChangeYear")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 ">@iT.T(xLan,"1224","First Date")</label>
                    <div class="col-9">
                        @Html.DevExtreme().DateBox().ID("edFirstDate").Width(130).DisplayFormat("dd.MM.yyyy").Value(new DateTime(Year,1,1))
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 ">@iT.T(xLan,"1225","Last Date")</label>
                    <div class="col-9">
                        @Html.DevExtreme().DateBox().ID("edLastDate").Width(130).DisplayFormat("dd.MM.yyyy").Value(new DateTime(Year,12,31))
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-12">
                <div class="form-group row">
                    <div class="col-10">
                        @Html.DevExtreme().CheckBox().ID("ed-HideZero").Text(iT.T(xLan,"2690","Show Zero"))
                    </div>
                </div>
                <div class="form-group row" hidden>
                    <div class="col-10">
                        @Html.DevExtreme().CheckBox().ID("ed-ExpensesDetails").Text(iT.T(xLan,"2421","Show Expenses Details"))
                    </div>
                </div>
          
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-6">
                <div class="card border-0 mb-1 bg-yellow text-dark acc">
                    <div class="card-body">

                        <div class="d-flex">
                            <h2 class="mb-0"><span id="txt-TotalTrial">0.00</span></h2>
                        </div>
                        <hr class="bg-white-transparent-2">
                        <div class="row text-truncate">
                            <div class="col-4">
                                <div class="f-s-12 text-grey">@iT.T(xLan,"1007","Opening")</div>
                                <div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-oDebit">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1008","Debit")</span></div>
                                <div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-oCredit">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1009","Credit")</span></div>
                                @*<div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-oBalance">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1238","Diff.")</span></div>*@
                            </div>
                            <div class="col-4">
                                <div class="f-s-12 text-grey">@iT.T(xLan,"1011","Transaction") </div>
                                <div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-tDebit">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1008","Debit")</span></div>
                                <div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-tCredit">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1009","Credit")</span></div>
                                @*<div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-tBalance">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1238","Diff.")</span></div>*@
                            </div>
                            <div class="col-4">
                                <div class="f-s-12 text-grey">@iT.T(xLan,"1227","Balance") </div>
                                <div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-bDebit">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1008","Debit")</span></div>
                                <div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-bCredit">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1009","Credit")</span></div>
                                @*<div class="f-s-14 m-b-2 p-b-1"><span class="me-2" id="txt-bBalance">0.00</span><span class="f-s-10 text-grey me-2">@iT.T(xLan,"1238","Diff.")</span></div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm" onclick="RefreshGrid()">@iT.T(xLan,"1156","Refresh")</button>
                    <button type="button" class="btn btn-gray btn-sm" onclick="PrintReport()">@iT.T(xLan, "1361","Print Report")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @(Html.DevExtreme().TreeList<CLiAccounting.Reports.TrialBalance>().ID("grd-TrialBalance")
                    .ShowBorders(true).Width("100%")
                    .DataSource(d => d.WebApi().Controller("ireports").Area("Accounting").Key("Key").LoadAction("TrialBalanceTree")
                    .LoadParams(new
                    {
                        First = new JS("getFirst"),
                        Last = new JS("getLast"),
                        ExpKind = false  ,
                        HideZero = new JS("getHideZero")
                    }))
                    .KeyExpr("Key")
                    .ParentIdExpr("ParentKey")
                    .DataStructure(TreeListDataStructure.Plain)
                    .ColumnAutoWidth(true)
                    .FocusedRowEnabled(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.Code).Caption(iT.T(xLan, "1228", "Account Code"));
                        //columns.AddFor(m => m.ExpensesKind).Caption(iT.T(xLan, "2422", "Exp.Kind")).Width(70).Lookup(L => { L.DataSource(iReplacer.accExpKind(xLan)).ValueExpr("Value").DisplayExpr("Display"); });
                        columns.AddFor(m => m.Name1).Caption(iT.T(xLan, "1165", "Account Name"));
                        columns.AddFor(m => m.Name2).Caption(iT.T(xLan, "1166", "English Name")).Visible(false);
                        columns.AddFor(m => m.oDebit).Caption(iT.T(xLan, "1008", "Debit")).Width(100).Format("0,###.##");
                        columns.AddFor(m => m.oCredit).Caption(iT.T(xLan, "1009", "Credit")).Width(100).Format("0,###.##");
                        columns.AddFor(m => m.tDebit).Caption(iT.T(xLan, "1008", "Debit")).Width(100).Format("0,###.##");
                        columns.AddFor(m => m.tCredit).Caption(iT.T(xLan, "1009", "Credit")).Width(100).Format("0,###.##");
                        columns.AddFor(m => m.tbDebit).Caption(iT.T(xLan, "1052", "Debit Balance")).Width(100).Format("0,###.##").Visible(true).CellTemplate(new JS("ct4CheckD"));
                        columns.AddFor(m => m.tbCredit).Caption(iT.T(xLan, "1053", "Credit Balance")).Width(100).Format("0,###.##").Visible(true).CellTemplate(new JS("ct4CheckC"));
                        columns.AddFor(m => m.Debit).Caption(iT.T(xLan, "1008", "Debit")).Width(100).Format("0,###.##").CellTemplate(new JS("ct4CheckD"));
                        columns.AddFor(m => m.Credit).Caption(iT.T(xLan, "1009", "Credit")).Width(100).Format("0,###.##").CellTemplate(new JS("ct4CheckC"));
                    })
                    .SearchPanel(sp =>
                    {
                        sp.Width(250);
                        sp.Visible(true);
                    })
                    .RowAlternationEnabled(true)
                    .RtlEnabled(devRtl)
                    .Scrolling(s => s.ScrollByContent(true).ScrollByThumb(true))
                    )
            </div>
        </div>
    </div>
</div>
<script class="append-on-ajax-script">
    $(document).ready(function ()
    {
        LoadDash();
    })
    async function LoadDash ()
    {
        $.ajax({
            type: "Get",
            url: "/api/acc/ireports/BalanceTB",
            data: { First: getFirst(), Last: getLast() },
            dataType: "json",
            success: function (response)
            {
                $('#txt-oDebit').text(comma(response.oDebit));
                $('#txt-oCredit').text(comma(response.oCredit));
                $('#txt-oBalance').text(comma(response.oDebit - response.oCredit));
                $('#txt-tDebit').text(comma(response.TDebit));
                $('#txt-tCredit').text(comma(response.TCredit));
                $('#txt-tBalance').text(comma(response.TDebit - response.TCredit));
                $('#txt-bDebit').text(comma(response.oDebit + response.TDebit));
                $('#txt-bCredit').text(comma(response.oCredit + response.TCredit));
                $('#txt-bBalance').text(comma((response.oDebit + response.TDebit) - (response.oCredit + response.TCredit)));
                $('#txt-TotalTrial').text(comma(response.oDebit + response.TDebit));
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
    }
    function ct4Action (container, options)
    {
        $('<div>').appendTo(container).dxMenu({
            items: [
                { icon: 'tips' }
            ],
            showFirstSubmenuMode: 'onClick',
            hideSubmenuOnMouseLeave: false,
            onItemClick: function (e)
            {
                switch (e.itemIndex)
                {
                    case 0:
                        if (e.itemData.icon == 'tips')
                        {
                            GetDetails(options.data.Key);
                        }
                        break;
                }
            },
        });
    }
    function RefreshGrid ()
    {
        LoadDash();
        $('#grd-TrialBalance').dxTreeList("instance").refresh();
    }
    function getYear ()
    {
        return $('#edYear').dxNumberBox('option', 'value')
    }
    function getFirst ()
    {
        var fd = new Date($('#edFirstDate').dxDateBox('option', 'value'));
        return fd.toLocaleDateString();
    }
    function getLast ()
    {
        var ld = new Date($('#edLastDate').dxDateBox('option', 'value'));
        return ld.toLocaleDateString();
    }
   
    function ChangeYear ()
    {
        $('#edFirstDate').dxDateBox('option', 'value', new Date($('#edYear').dxNumberBox('option', 'value'), 0, 1));
        $('#edLastDate').dxDateBox('option', 'value', new Date($('#edYear').dxNumberBox('option', 'value'), 11, 31));
    }
    function getHideZero ()
    {
        return $('#ed-HideZero').dxCheckBox('option', 'value');
    }
    function ct4Kind (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center"><span class="badge bg-yellow text-dark">' + options.text + '</span></div>';
                break;
            case 1:
                str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
                break;
            case 2:
                str = '<div class="text-center"><span class="badge bg-info text-dark">' + options.text + '</span></div>';
                break;
            case 3:
                str = '<div class="text-center"><span class="badge bg-success text-dark">' + options.text + '</span></div>';
                break;
            case 4:
                str = '<div class="text-center"><span class="badge bg-warning text-dark">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4T (container, options)
    {
        var str = '';
        if (options.data.Level == 1)
        {
            str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
            $(str).appendTo(container)
            return;
        }
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center"><span class="badge bg-info">' + options.text + '</span></div>';
                break;
            case 1:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container);
    }
    function PrintReport ()
    {
        window.open('/Print/Financial/TrialBalance?First=' + getFirst() + '&Last=' + getLast() + '&Level=' + getLevel() + '&TrialBalance=' + getExpKind());
    }
    function ct4CheckD (container, options)
    {
        if (options.data.DC == true && options.value > 0)
        {
            container.append('<div>' + options.text + '</div>')
                .css('color', '#F6331A')
                .css('font-weight', '600');
        } else
        {
            container.append('<div>' + options.text + '</div>');
        }
    }
    function ct4CheckC (container, options)
    {
        if (options.data.DC == false && options.value > 0)
        {
            container.append('<div>' + options.text + '</div>')
                .css('color', '#F6331A')
                .css('font-weight', '600');
        }
        else
        {
            container.append('<div>' + options.text + '</div>');
        }
    }
        function ct4ExpensesKind (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center dx-dxtreelist"><span class="badge bg-yellow text-dark">' + options.text + '</span></div>';
                break;
            case 1:
                str = '<div class="text-center dx-dxtreelist"><span class="badge bg-info text-dark">' + options.text + '</span></div>';
                break;
            case 2:
                str = '<div class="text-center dx-dxtreelist"><span class="badge bg-danger">' + options.text + '</span></div>';
                break;
            case -1:
                str = '<div class="text-center dx-dxtreelist"><span class="badge bg-success text-dark">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function getExpKind ()
    {
        return $('#ed-ExpensesDetails').dxCheckBox('option', 'value');
    }
</script>
