@{
    string xLan = User.FindFirstValue("aiwLan");
}

<div class="sidebar-section-title">@iT.T(xLan, "2002", "Applications")</div>

<div class="menu-item">
    <a href="/Financial" class="menu-link" data-title="Financial">
        <i class='bx bx-line-chart'></i>
        <span>@iT.T(xLan, "2003", "Financial")</span>
    </a>
</div>

<div class="menu-item">
    <a href="/Accounting" class="menu-link" data-title="Accounting">
        <i class='bx bx-calculator'></i>
        <span>@iT.T(xLan, "2005", "Accounting")</span>
    </a>
</div>

<div class="menu-item">
    <a href="/Sales" class="menu-link" data-title="Sales">
        <i class='bx bx-store'></i>
        <span>@iT.T(xLan, "2008", "Sales")</span>
    </a>
</div>

<div class="menu-item">
    <a href="/Purchasing" class="menu-link" data-title="Purchasing">
        <i class='bx bx-cart'></i>
        <span>@iT.T(xLan, "2011", "Purchasing")</span>
    </a>
</div>

<div class="menu-item">
    <a href="/FixedAssets" class="menu-link" data-title="Fixed Assets">
        <i class='bx bx-buildings'></i>
        <span>@iT.T(xLan, "2014", "Fixed Assets")</span>
    </a>
</div>

<div class="menu-item">
    <a href="/HR" class="menu-link" data-title="HR">
        <i class='bx bx-group'></i>
        <span>@iT.T(xLan, "2020", "Human Resources")</span>
    </a>
</div>

<div class="menu-item">
    <a href="/Payroll" class="menu-link" data-title="Payroll">
        <i class='bx bx-money'></i>
        <span>@iT.T(xLan, "2023", "Payroll")</span>
    </a>
</div>

<div class="menu-item">
    <a href="/Auditing" class="menu-link" data-title="Auditing">
        <i class='bx bx-check-shield'></i>
        <span>@iT.T(xLan, "2017", "Auditing")</span>
    </a>
</div>