@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    int Year = Convert.ToInt32(User.FindFirstValue("aiwYear"));
    bool devRtl;
    DevExtreme.AspNet.Mvc.HorizontalEdge devFixd;
    if (User.FindFirstValue("aiwLan") == "en")
    {
        devRtl = false;
        devFixd = HorizontalEdge.Left;
    }
    else
    {
        devRtl = true;
        devFixd = HorizontalEdge.Right;
    }
}
<h1 class="page-header">@iT.T(xLan,"1733","Retuen Purchasing Invoices List")</h1>
<div class="panel panel-inverse">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan, "1222","Year")</label>
                    <div class="col-lg-9 col-sm-12">
                        <div class="input-group">
                            @Html.DevExtreme().NumberBox().ID("num-Year").ShowSpinButtons(true).Width(90).Value(Year)
                            <span class="input-group-append">
                                <button type="button" class="btn btn-default btn-white" onclick="RefreshGrid()" title="@iT.T(xLan,"1156","Refresh")" style="height:36px"><i class="fa fa-sync-alt" style="width:15px;min-width:15px"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12"></label>
                    <div class="col-lg-9 col-sm-12 text-dark">
                        @Html.DevExtreme().CheckBox().ID("cnt-ShowAdvance").Text("Show Advance Column").OnValueChanged("ChangeAdvanceOption")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @(Html.DevExtreme().DataGrid<CLiInventory.Documents.Manager.Invoices>().ID("grd-Transactions")
                    .ShowBorders(true).Width("100%")
                    .DataSource(d => d.WebApi()
                    .Controller("idocuments").Area("Purchasing")
                    .Key("OperationKey")
                    .LoadAction("Invoices").LoadParams(new { Year = new JS("GetYear"), DocumentKind = 75 }))
                    .ColumnAutoWidth(true)
                    .FocusedRowEnabled(true)
                    .Columns(columns =>
                    {
                        columns.Add().Name("act").Caption(iT.T(xLan, "", "#")).Width(95).AllowExporting(false).AllowFiltering(false).CellTemplate(new JS("ct4Action"));
                        columns.AddFor(m => m.Status).Caption(iT.T(xLan, "1282", "Status")).Width(75).Lookup(L => L.DataSource(iReplacer.finAudit(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Status"));
                        columns.AddFor(m => m.Posted).Caption(iT.T(xLan, "1353", "Posted")).Width(70).Lookup(L => L.DataSource(iReplacer.finPosted(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Posted")).Visible(false);
                        columns.AddFor(m => m.Retrned).Caption(iT.T(xLan, "1356", "Retrned")).Width(70).Lookup(L => L.DataSource(iReplacer.invReturnedInvoice(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Retrned")).Visible(false);
                        columns.AddFor(m => m.InvoiceDate).Caption(iT.T(xLan, "1210", "Date")).Width(100).Format("dd.MM.yyyy");
                        columns.AddFor(m => m.InvoiceNo).Caption(iT.T(xLan, "1265", "No")).Width(80);
                        columns.AddFor(m => m.CurrentKey).Caption(iT.T(xLan, "1355", "Client")).Lookup(L => L.DataSource(CLiFinancial.Selections.Dynamic.UnionSelection(DB, xLan, new PLenums.TransactionAccount[] { PLenums.TransactionAccount.CurrentAccount })).ValueExpr("Key").DisplayExpr("Display"));
                        columns.AddFor(m => m.AccountKind).Caption(iT.T(xLan, "1158", "Kind")).Width(60).Lookup(L => L.DataSource(iReplacer.finTransactionAccByDocument(xLan, 80)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4AccountKind"));
                        columns.AddFor(m => m.AccountKey).Caption(iT.T(xLan, "1219", "Account")).Width(180).Lookup(L => L.DataSource(CLiFinancial.Selections.Dynamic.UnionSelection(DB, xLan, new PLenums.TransactionAccount[] { PLenums.TransactionAccount.CurrentAccount, PLenums.TransactionAccount.Bank, PLenums.TransactionAccount.CashBox })).ValueExpr("Key").DisplayExpr("Display"));
                        columns.AddFor(m => m.Description).Caption(iT.T(xLan, "1212", "Description")).Width(150).MinWidth(100).CellTemplate(new JS("ct4Description")).Visible(false);
                        columns.AddFor(m => m.Subtotal).Caption(iT.T(xLan, "1347", "Subtotal")).Width(85).Format("0,###.##");
                        columns.AddFor(m => m.Discount).Caption(iT.T(xLan, "1097", "Discount")).Width(85).Format("0,###.##");
                        columns.AddFor(m => m.vatAmount).Caption(iT.T(xLan, "1345", "VAT")).Width(85).Format("0,###.##");
                        columns.AddFor(m => m.Total).Caption(iT.T(xLan, "1120", "Total")).Width(85).Format("0,###.##");
                        columns.AddFor(m => m.ClosedAmount).Caption(iT.T(xLan, "1357", "Closed")).Width(85).Format("0,###.##");
                        columns.AddFor(m => m.RemAmount).Caption(iT.T(xLan, "1358", "Rem.Amount")).Width(85).Format("0,###.##");
                        columns.AddFor(m => m.ReturnedAmount).Caption(iT.T(xLan, "1359", "Ret.Amount")).Width(85).Format("0,###.##");
                        columns.AddFor(m => m.Branch).Caption(iT.T(xLan, "1281", "Branch")).Lookup(L => L.DataSource(CLiFinancial.Selections.Branches.GetList(DB, xLan)).ValueExpr("No").DisplayExpr("Display")).Visible(false);
                        columns.AddFor(m => m.Prefix).Caption(iT.T(xLan, "1328", "Prefix")).Lookup(L => L.DataSource(CLiFinancial.Selections.Prefix.GetList(DB, xLan)).ValueExpr("Key").DisplayExpr("Display")).Visible(false);
                    })
                    .Summary(tot =>
                    {
                        tot.TotalItems(item =>
                        {
                            item.AddFor(m => m.InvoiceDate).SummaryType(SummaryType.Count);
                            item.AddFor(m => m.Subtotal).SummaryType(SummaryType.Sum).ValueFormat("0,###.##");
                            item.AddFor(m => m.vatAmount).SummaryType(SummaryType.Sum).ValueFormat("0,###.##");
                            item.AddFor(m => m.Discount).SummaryType(SummaryType.Sum).ValueFormat("0,###.##");
                            item.AddFor(m => m.Total).SummaryType(SummaryType.Sum).ValueFormat("0,###.##");
                            item.AddFor(m => m.ClosedAmount).SummaryType(SummaryType.Sum).ValueFormat("0,###.##");
                            item.AddFor(m => m.RemAmount).SummaryType(SummaryType.Sum).ValueFormat("0,###.##");
                            item.AddFor(m => m.ReturnedAmount).SummaryType(SummaryType.Sum).ValueFormat("0,###.##");
                        });
                        tot.Texts(txt => { txt.Sum(""); });
                    })
                    .Pager(pg =>
                    {
                        pg.AllowedPageSizes(new List<int> { 50, 100, 200 });
                        pg.ShowNavigationButtons(true);
                        pg.ShowPageSizeSelector(true);
                        pg.ShowInfo(true);
                        pg.InfoText("{0} of {1} | {2} Rows");
                    })
                    .Paging(p => { p.PageSize(50); })
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .SearchPanel(sp =>
                    {
                        sp.Width(250);
                        sp.Visible(true);
                    })
                    .Scrolling(s => s.ScrollByContent(true).ScrollByThumb(true))
                    .RowAlternationEnabled(true)
                    .RtlEnabled(devRtl)
                    )
            </div>
        </div>
    </div>
</div>
<script class="append-on-ajax-script">
    function ct4Action (container, options)
    {
        $('<div>').appendTo(container).dxMenu({
            items: [
                { icon: "edit" },
                { icon: "print" },
                { icon: "tips" } ],
            showFirstSubmenuMode: 'onClick',
            hideSubmenuOnMouseLeave: false,
            onItemClick: function (e)
            {
                switch (e.itemIndex)
                {
                    case 0:
                        if (e.itemData.icon == 'edit')
                        {
                            window.open('/Purchasing/Documents/ReturnInvoice?Key=' + options.data.OperationKey);
                        }
                        break;
                    case 1:
                        if (e.itemData.icon == 'trash')
                        {
                            DeleteRow(options.data.Key, options.data.Name1);
                        }
                        if (e.itemData.icon == 'print')
                        {
                            FinancialPrintTemplates(75, options.data.Key);
                        }
                        break;
                    case 2:
                        if (e.itemData.icon == 'tips')
                        {
                            ViewPurchaseInvoice(options.data.OperationKey);
                        }
                        break;
                }
            },
        });
    }
    function RefreshGrid ()
    {
        $('#grd-Transactions').dxDataGrid("instance").refresh();
    }
    function GetYear ()
    {
        return $('#num-Year').dxNumberBox('option', 'value');
    }
    function ct4Posted (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case true:
                str = '<div class="text-center"><span class="badge bg-success text-dark">' + options.text + '</span></div>';
                break;
            case false:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4Retrned (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case false:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
            case true:
                str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4Status (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center"><span class="badge bg-success text-dark">' + options.text + '</span></div>';
                break;
            case 1:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
            case 2:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
            case 3:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4Description (container, options)
    {
        var str = '';
        str = '<p class="m-0 p-0 f-s-10" style="white-space:normal;">' + options.value + '</p>';
        $(str).appendTo(container)
    }
    function ct4AccountKind (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
                break;
            case 2:
                str = '<div class="text-center"><span class="badge bg-success text-dark">' + options.text + '</span></div>';
                break;
            case 3:
                str = '<div class="text-center"><span class="badge bg-info">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ChangeAdvanceOption (e)
    {
        var grd = $('#grd-Transactions').dxDataGrid("instance");
        grd.columnOption('Category', 'visible', e.value);
        grd.columnOption('Branch', 'visible', e.value);
        grd.columnOption('Prefix', 'visible', e.value);
    }
</script>
