@model CLiFinancial.Cards.Bank
@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@iT.T(xLan,"2262","Bank Card")</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    </div>
    <form id="frm-Bank" data-parsley-validate="true">
        <div class="modal-body">
            @Html.HiddenFor(m => m.Key)
            @Html.HiddenFor(m => m.Account)
            @{
                if (Model.Key != null)
                {
                        <div class="xkey text-gray">@iT.T(xLan,"2263","Key"): @Model.Key</div>
                }
            }
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2264","Parent")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().LookupFor(m => m.Parent).ID("cnt-Parent").InputAttr("required", true).DataSource(CLiAccounting.Selections.AccountFinancialCategory.GetList(DB,xLan,PLenums.AccountingCategory.Bank)).ValueExpr("Key").DisplayExpr("Display")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2188","Code")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Code).ID("cnt-Code").InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2265","Account Name")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Name1).ID("cnt-Name1").InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2266","English Name")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Name2).ID("cnt-Name2")
                </div>
            </div>
            <hr class="m-2 p-0" />
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2267","IBAN")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.IBAN).ID("cnt-IBAN")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2268","Swift Code")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.SwiftCode).ID("cnt-SwiftCode")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2269","Account No")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.AccountNo).ID("cnt-AccountNo")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2270","Customer No")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.CustomerNo).ID("cnt-CustomerNo")
                </div>
            </div>
            <hr class="m-2 p-0" />
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2271","Branch")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Branch).ID("cnt-Branch").Width("70%")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2272","Phone")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Phone1).ID("cnt-Phone1").Width("70%")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2273","Mobile")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Mobile).ID("cnt-Mobile").Width("70%")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2274","ContactPerson1")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.ContactPerson1).ID("cnt-ContactPerson1")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2275","ContactPerson2")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.ContactPerson2).ID("cnt-ContactPerson2")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2276","Email")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Email).ID("cnt-Email")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2277","Address")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextAreaFor(m => m.Address).ID("cnt-Address").Height(80)
                </div>
            </div>
            <hr class="m-2 p-0" />
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"2278","Status")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().SwitchFor(m => m.Disable).ID("cnt-Disable").Width(65).SwitchedOnText("Disable").SwitchedOffText("Active")
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-yellow text-dark">@iT.T(xLan,"2279","Save Change")</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"2280","Cancel")</button>
            </div>
        </div>
    </form>
</div>
<script class="append-on-ajax-script">
    $(document).ready(function() {
        $("#frm-Bank").submit(function(event) {
            event.preventDefault();
            SaveAccount();
        });
        $('#cnt-Parent').dxLookup({
            onValueChanged: function(e) {
                var selectedAccount = $("#cnt-Parent").dxLookup('instance').option('selectedItem');
                  if ($('#Key').val() == 'null')
                {
                    ParentDetails(selectedAccount.Code);
                }
            }
        });
    });
    function SaveAccount() {
        if ($('#cnt-Code').dxTextBox('option', 'text') == "") {
            alert('Please enter Code!');
            return;
        }
        if ($('#cnt-Name1').dxTextBox('option', 'text') == "") {
            alert('Please enter name (Display) !');
            return;
        }
        var data = $('#frm-Bank').serialize();
        $.ajax({
            type: "POST",
            url: "/api/fin/icards/UpdateBank",
            data: data,
            dataType: "json",
            success: function(response) {
                EndSaveAccount(response);
                $("#mod-Card").modal('toggle');
            },
            failure: function(response) {
                alert(response);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }
    function ParentDetails(code) {
        $.ajax({
            type: "get",
            url: "/api/acc/icards/AccountCode",
            data: { Parent: code },
            dataType: "json",
            success: function(res) {
                $('#cnt-Code').dxTextBox('option', 'value', res);
            },
            failure: function(response) {
                alert(response);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }
</script>
