@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    int Year = Convert.ToInt32(User.FindFirstValue("aiwYear"));
    bool devRtl;
    DevExtreme.AspNet.Mvc.HorizontalEdge devFixd;
    if (User.FindFirstValue("aiwLan") == "en")
    {
        devRtl = false;
        devFixd = HorizontalEdge.Left;
    }
    else
    {
        devRtl = true;
        devFixd = HorizontalEdge.Right;
    }
}
<h1 class="page-header">@iT.T(xLan,"1067","Salaries")<small> @iT.T(xLan,"1704","Update Benefit")</small></h1>
<div class="panel panel-inverse">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="form-group row">
                    <label class="col-3 ">@iT.T(xLan, "1222","Year")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("ctr-Year").ShowSpinButtons(true).Width(130).Value(Year)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 ">@iT.T(xLan, "1690","Month")</label>
                    <div class="col-9">
                        @Html.DevExtreme().SelectBox().ID("ctr-Month").Width(130).DataSource(iReplacer.MonthList(xLan)).ValueExpr("Value").DisplayExpr("Display").Value(DateTime.Now.Month)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 ">@iT.T(xLan, "1335","Payment Kind")</label>
                    <div class="col-9">
                        @Html.DevExtreme().TagBox().ID("ctr-PaymentKind").Width(350).DataSource(iReplacer.hrPaymentType(xLan)).ValueExpr("Value").DisplayExpr("Display").ShowSelectionControls(true).ShowClearButton(true)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-dark" onclick="RefreshGrid()">@iT.T(xLan, "1156","Refresh")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @(Html.DevExtreme().DataGrid<CLiHR.Salaries.Benefit>().ID("grd-Benefit")
                    .ShowBorders(true).Width("100%")
                    .DataSource(d => d.WebApi()
                    .Controller("iSalaries").Area("Payroll")
                    .Key("Key")
                    .LoadAction("Benefit")
                    .LoadParams(new
                    {
                        Year = new JS("GetYear"),
                        Month = new JS("GetMonth"),
                        PaymentKind = new JS("GetPaymentKind")
                    }).UpdateAction("UpdateBenefit"))
                    .Editing(ed => ed.Mode(GridEditMode.Batch).AllowUpdating(true).AllowAdding(false).AllowDeleting(false).UseIcons(true))
                    .ColumnAutoWidth(true)
                    .FocusedRowEnabled(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.Code).Caption(iT.T(xLan, "1164", "Code")).Width(100).AllowEditing(false);
                        columns.AddFor(m => m.Name1).Caption(iT.T(xLan, "1443", "Employee Name")).AllowEditing(false);
                        columns.AddFor(m => m.Name2).Caption(iT.T(xLan, "1166", "English Name")).AllowEditing(false);
                        columns.AddFor(m => m.Rewards).Caption(iT.T(xLan, "1705", "Rewards")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.Bonuses).Caption(iT.T(xLan, "1706", "Bonuses")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.Commission).Caption(iT.T(xLan, "1707", "Commission")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.BenefitAmount).Caption(iT.T(xLan, "1694", "Benefit")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.Benefit1).Caption(iT.T(xLan, "1708", "Benefit1")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.Benefit2).Caption(iT.T(xLan, "1709", "Benefit2")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.Benefit3).Caption(iT.T(xLan, "1710", "Benefit3")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.Vacation).Caption(iT.T(xLan, "1711", "Vacation")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.Ticket).Caption(iT.T(xLan, "1712", "Ticket")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.EndService).Caption(iT.T(xLan, "1713", "Absence")).Format("0,###.##").Width(90).Visible(false);
                    })
                    .Pager(pg =>
                    {
                        pg.AllowedPageSizes(new List<int> { 50, 100, 200 });
                        pg.ShowNavigationButtons(true);
                        pg.ShowPageSizeSelector(true);
                        pg.ShowInfo(true);
                        pg.InfoText("{0} of {1} | {2} Rows");
                    })
                    .Paging(p => { p.PageSize(50); })
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .SearchPanel(sp =>
                    {
                        sp.Width(250);
                        sp.Visible(true);
                    })
                    .RowAlternationEnabled(true)
                    .RtlEnabled(devRtl)
                    .OnRowUpdating(@<text>function (options) {$.extend(options.newData, $.extend({}, options.oldData, options.newData));}</text>)
                    )
            </div>
        </div>
    </div>
</div>
<script class="append-on-ajax-script">
    function RefreshGrid ()
    {
        $('#grd-Benefit').dxDataGrid("instance").refresh();
    }
    function GetYear ()
    {
        return $('#ctr-Year').dxNumberBox('option', 'value');
    }
    function GetMonth ()
    {
        return $('#ctr-Month').dxSelectBox('option', 'value');
    }
    function GetPaymentKind ()
    {
        return $('#ctr-PaymentKind').dxTagBox('option', 'value');
    }
</script>
