@model CLiSales.Documents.Proforma
@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    int xYear = Convert.ToInt32(User.FindFirstValue("aiwYear"));
    string Currency = CLiCore.VoucherOperation.DefaultCurrency(DB);

    Guid UserKey = Guid.Parse(User.FindFirstValue("Key"));
   
}
<style>
    .shl-invoice-header > span {
        margin-left: 4px;
        margin-right: 4px;
    }

    .shl-invoice-header > p {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .xd > tr:hover .ccp {
        display: block !important;
    }

    .xd .ccp {
        display: block !important;
    }
    .xd > tr:hover {
        cursor: pointer;
    }

    .wd70 {
        width: 65px !important;
        min-width: 65px !important;
        max-width: 65px !important;
    }

    .badg-plx {
        width: 55px !important;
        min-width: 55px !important;
        max-width: 55px !important;
        line-height: 22px !important;
        font-size: 10px;
    }

    .width-20 {
        width: 20px !important;
        min-width: 20px !important;
    }
</style>
<div class="invoice">
    <div class="invoice-company">
        <div class="float-end hidden-print">
            <div class="btn-group">
                <button type="button" class="btn btn-yellow mb-10px PLSave" onclick="SaveGeneralLedger()"><i class="fa fa-save t-plus-1 text-dark fa-fw fa-lg"></i> @iT.T(xLan,"1622","Save Update")</button>
                <button type="button" onclick="PrintDocument()" class="btn btn-white mb-10px"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> @iT.T(xLan,"1208","Print")</button>
            </div>
        </div>
        <div class="shl-invoice-header">
            @iT.T(xLan,"2148","Proforma Invoice") <span id="inf-Status" class="badge bg-info text-dark"><small class="f-s-9 me-1">@iT.T(xLan,"2141","Status")</small><span id="txt-Status" class="me-1">Update</span></span><span id="txt-VoucherNo" class="text-danger"># @Model.InvoiceNo </span> 
            <p class="f-s-10 mt-1" hidden><i class="fa fa-exclamation-circle text-danger"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</p>
            <p class="f-s-10 mt-1" hidden><i class="fa fa-exclamation-circle text-danger"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</p>
        </div>
    </div>
    <form id="frm-Voucher">
        @Html.HiddenFor(m=>m.OperationKey)
        @Html.HiddenFor(m=>m.InvoiceNo)
        @Html.HiddenFor(m=>m.MonthlyNo)
        @Html.HiddenFor(m=>m.CreateUser)
        @Html.HiddenFor(m=>m.CreateDate)
        <div class="invoice-header">
            <div class="invoice-from">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1624","Invoice Date")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().DateBoxFor(m => m.InvoiceDate).ID("frm-InvoiceDate").Width(125).DisplayFormat("dd.MM.yyyy").Min(new DateTime(xYear,1,1)).Max(DateTime.UtcNow.AddMinutes(180))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1355","Client")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().LookupFor(m => m.Client).ID("frm-Client").DataSourceOptions(o=>o.Paginate(true).PageSize(50)).DataSource(CLiFinancial.Selections.Dynamic.TransactionAccount(DB,xLan, PLenums.TransactionAccount.CurrentAccount, PLenums.CurrentAccountKind.Client)).ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1212","Description")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().TextAreaFor(m => m.Description).ID("frm-Description").Height(55)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1731","Person")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().SelectBoxFor(m => m.SalesPerson).ID("frm-SalesPerson").DataSource(CLiHR.Selections.Employees.GetList(DB,xLan,2)).ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1287","Source")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().SelectBoxFor(m => m.SalesHand).ID("frm-SalesHand").ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1636","Invoice No")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().TextBoxFor(m => m.ReferenceNo).ID("frm-ReferenceNo").Width(125)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1373","Due Date")</label>
                            <div class="col-lg-9 col-sm-12">
                                <div class="input-group">
                                    @Html.DevExtreme().NumberBox().ID("frm-DueDays").Width(75).OnValueChanged("ChangeDueDays").ShowSpinButtons(true)
                                    @Html.DevExtreme().DateBoxFor(m => m.DueDate).ID("frm-DueDate").Width(110).DisplayFormat("dd.MM.yyyy")
                                </div>
                            </div>
                        </div>
                               <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1328","Prefix")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().SelectBoxFor(m => m.Prefix).ID("frm-Prefix").DataSource(CLiFinancial.Selections.Prefix.GetList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1281","Branch")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().SelectBoxFor(m => m.Branch).ID("frm-Branch").DataSource(CLiFinancial.Selections.Branches.GetList(DB,xLan)).ValueExpr("No").DisplayExpr("Display")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1220","Project")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().LookupFor(m=>m.Project).ID("frm-Project").DataSource(CLiAccounting.Selections.Project.FullList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1332","Cst.Center")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().LookupFor(m=>m.CostCenter).ID("frm-CostCenter").DataSource(CLiAccounting.Selections.CostCenter.FullList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="card border-0 text-truncate mb-3 text-dark" style="height:225px">
                            <!-- BEGIN card-body -->
                            <div class="card-body">
                                <!-- BEGIN title -->
                                <div class="mb-3 ">
                                    <b class="mb-3">@iT.T(xLan,"2154","Voucher Details")</b>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-circle text-red fs-8px me-2"></i>@iT.T(xLan,"1347","Subtotal")
                                    </div>
                                    <div class="d-flex align-items-center ms-auto">
                                        <div class="w-50px text-end ps-2 fw-bold"><span>@Model.SubTotal.ToString("n2")</span></div>
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-circle text-red fs-8px me-2"></i>@iT.T(xLan,"2153","Discount")
                                    </div>
                                    <div class="d-flex align-items-center ms-auto">
                                        <div class="w-50px text-end ps-2 fw-bold"><span>@Model.Discount.ToString("n2")</span></div>
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-circle text-red fs-8px me-2"></i>@iT.T(xLan,"2146","VAT")
                                    </div>
                                    <div class="d-flex align-items-center ms-auto">
                                        <div class="w-50px text-end ps-2 fw-bold"><span>@Model.vatAmount.ToString("n2")</span></div>
                                    </div>
                                </div>
                                <div class="d-flex mb-1">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-circle text-red fs-8px me-2"></i>@iT.T(xLan,"1120","Total")
                                    </div>
                                    <div class="d-flex align-items-center ms-auto">
                                        <div class="w-50px text-end ps-2 fw-bold"><span>@Model.Total.ToString("n2")</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card border-0 text-truncate mb-3 text-dark" style="height:225px">
                            <!-- BEGIN card-body -->
                            <div class="card-body">
                                <!-- BEGIN title -->
                                <div class="mb-3 ">
                                    <b class="mb-3">@iT.T(xLan,"2154","Voucher Details")</b>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2155","Create User")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10"><span>@Model.CreateUserInfo.Display</span></div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2156","Create Date")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10" style="direction:ltr">@(Model.CreateDate.HasValue == true ? Model.CreateDate.Value.ToString("dd.MM.yyyy hh:mm tt") : "")</div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2157","Update User")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10"><span>@Model.CreateUserInfo.Display</span></div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2158","Update Date")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10" style="direction:ltr">@(Model.CreateDate.HasValue == true ? Model.CreateDate.Value.ToString("dd.MM.yyyy hh:mm tt") : "")</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="invoice-content mt-3">
        <div class="sticky">
            <button type="button" id="btn-add" class="btn btn-yellow btn-sm text-dark" onclick="AddNewRow()">@iT.T(xLan,"1214","Add New Row")</button>
        </div>
        <div class="table-responsive">
            <table class="table table-invoice table-hover">
                <thead>
                    <tr>
                        <th style="width:100px;max-width:100px">@iT.T(xLan,"1215","Actions")</th>
                        <th style="width:65px;min-width:65px;max-width:65px">@iT.T(xLan,"1158","Kind")</th>
                        <th style="width:120px;min-width:120px;max-width:120px">@iT.T(xLan,"1164","Code")</th>
                        <th style="width:100%;min-width:150px">@iT.T(xLan,"1586","Item Name")</th>
                        <th style="width:80px;min-width:80px;max-width:80px">@iT.T(xLan,"1076","Quantity")</th>
                        <th style="width:70px;min-width:70px;max-width:70px">@iT.T(xLan,"1639","Bonus")</th>
                        <th style="width:100px;min-width:100px;max-width:100px">@iT.T(xLan,"1629","Unit Price")</th>
                        <th style="width:100px;min-width:100px;max-width:100px">@iT.T(xLan,"1077","Amount")</th>
                        <th style="width:80px;min-width:80px;max-width:80px">@iT.T(xLan,"1097","Discount")</th>
                        <th style="width:100px;min-width:100px;max-width:100px">@iT.T(xLan,"1345","VAT")</th>
                        <th style="width:100px;min-width:100px;max-width:100px">@iT.T(xLan,"1120","Total")</th>
                    </tr>
                </thead>
                <tbody class="xd" id="tb-rows">
                </tbody>
            </table>
        </div>
        <div class="invoice-price">
            <div class="invoice-price-left">
                <div class="invoice-price-row">
                    <div class="sub-price">
                        <small>@iT.T(xLan,"1347","Subtotal")</small>
                        <span id="txt-Amount" class="text-dark">0.00</span>
                    </div>
                    <div class="sub-price">
                        <small>@iT.T(xLan,"1348","VAT Total")</small>
                        <span id="txt-vatAmount" class="text-dark">0.00</span>
                    </div>
                    <div class="sub-price">
                        <small>@iT.T(xLan,"1120","Total")</small>
                        <span id="txt-Total" class="text-red me-2">0.00</span>
                    </div>
                </div>
            </div>
            <div class="invoice-price-right">
                <small>@iT.T(xLan,"1120","TOTAL")</small> <span class="fw-bold" id="txt-xTotal">0.00</span>
            </div>
        </div>
    </div>
    <div class="invoice-note">
        <hr>
        <div class="text-left">
            <div class="btn-group">
                <button type="button" class="btn btn-yellow mb-10px PLSave" onclick="SaveGeneralLedger()"><i class="fa fa-save t-plus-1 text-dark fa-fw fa-lg"></i> @iT.T(xLan,"1622","Save Update")</button>
                <button type="button" onclick="PrintDocument()" class="btn btn-white mb-10px"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> @iT.T(xLan,"1208","Print")</button>
            </div>
        </div>
    </div>
</div>
<div id="mod-Row" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@iT.T(xLan,"1218","Row Details")</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1333","Account Kind")</label>
                    <div class="col-lg-9 col-sm-12">
                        @Html.DevExtreme().SelectBox().ID("row-ItemKind").DataSource(iReplacer.invSalesItems(xLan)).ValueExpr("Value").DisplayExpr("Display").Width(150).Value(8).OnValueChanged("ChangeItemKind")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"","Item/Account")</label>
                    <div class="col-lg-9 col-sm-12">
                        <div class="input-group">
                            @Html.DevExtreme().Lookup().ID("row-Account").ValueExpr("Key").DisplayExpr("Display").Width("90%").OnValueChanged("SelectedItemChanged")
                            <button type="button" class="btn btn-white f-s-10" onclick="RefelectAmount()"><i id="i-account" class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1587","Unit")</label>
                    <div class="col-lg-9 col-sm-12">
                        @Html.DevExtreme().SelectBox().ID("row-Unit").ValueExpr("Code").DisplayExpr("Code").Width(150)
                    </div>
                </div>
                <div>
                    <div id="div-color" class="form-group row" hidden>
                        <label class="col-lg-3 col-sm-12  ">Item Color <span class="text-red right">*</span></label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().SelectBox().ID("row-Color").Width(132).DataSource(CLiInventory.Selections.Properties.Colors(DB, xLan)).ValueExpr("No").DisplayExpr("Display").ElementAttr("class", "plxenter")
                        </div>
                    </div>
                    <div id="div-size" class="form-group row" hidden>
                        <label class="col-lg-3 col-sm-12  ">Item Size<span class="text-red right">*</span></label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().SelectBox().ID("row-Size").Width(132).DataSource(CLiInventory.Selections.Properties.Sizes(DB, xLan)).ValueExpr("No").DisplayExpr("Display").ElementAttr("class", "plxenter")
                        </div>
                    </div>
                </div>
                <hr class="p-0 m-2" />
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1076","Quantity")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("row-Quantity").ShowSpinButtons(true).Width(132).Min(0).Format("0,###.##").OnValueChanged("EditAmount")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1639","Bonus")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("row-Bonus").ShowSpinButtons(true).Width(132).Min(0).Format("0,###.##")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1989","UnitPrice")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("row-UnitPrice").ShowSpinButtons(true).Width(132).Min(0).Format("0,###.####").OnValueChanged("EditAmount")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1077","Amount")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("row-Amount").ShowSpinButtons(true).Width(132).Min(0).Format("0,###.####").ReadOnly(true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1097","Discount")</label>
                    <div class="col-9">
                        <div class="input-group">
                            @Html.DevExtreme().NumberBox().ID("row-Discount").ShowSpinButtons(true).Width(132).Min(0).Format("0,###.##").OnValueChanged("EditAmount")
                            <button type="button" class="btn btn-white btn-xs" onclick="SearchBatchLot()"><i class="fa fa-percent width-20"></i></button>
                        </div>
                        <p  hidden class="text-dark f-s-10 m-0 p-0 mt-1 mb-1">Amount after discount: <b class="me-2">4,000</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1977","vatKey")</label>
                    <div class="col-lg-9 col-sm-12">
                        @Html.DevExtreme().SelectBox().ID("row-vatKey").Width(132).DataSource(CLiFinancial.Selections.vatRate.vatRates(DB,xLan)).ValueExpr("Key").DisplayExpr("Display").OnValueChanged("EditAmount")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1350","vat Amount")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("row-vatAmount").ShowSpinButtons(true).Width(132).Min(0).Format("0,###.##").ReadOnly(true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1120","Total")</label>
                    <div class="col-9">
                        <div class="input-group">
                            @Html.DevExtreme().NumberBox().ID("row-Total").Width(130).ShowSpinButtons(true).Format("0,###.####")
                            <button type="button" class="btn btn-white f-s-10" onclick="RefelectAmount()">@iT.T(xLan, "1326","Reflect Amount")</button>
                        </div>
                    </div>
                </div>
                <hr class="p-0 m-2" />
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1212","Description")</label>
                    <div class="col-9">
                        @Html.DevExtreme().TextBox().ID("row-Description")
                    </div>
                </div>
            </div>
            <div class="modal-footer sticky-bottom">
                <div class="btn-group">
                    <button type="submit" class="btn btn-yellow text-dark" onclick="SaveRowChange()">@iT.T(xLan,"1197","Save Change")</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"1198","Cancel")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mod-AdvancePayments" class="modal"><div class="modal-dialog modal-lg" id="con-AdvancePayments"></div></div>
<script class="append-on-ajax-script">
    var clcDebitCredit = 0;
    var isNewRow;
    var currentRow;
    var opk = null;
    var VoucherStatus = false;
    var Currency;
    var rowCurrentItemKey = null;
    var RowKey = null;
    var RowItemDetails;
    var IsLoading;
    var DiscountKind = false;
    var AdvancePayments = [];
    var InPosting = false;
    $(document).ready(function ()
    {
        Currency = '@Currency';
        if ('@ViewBag.Status' == 'True')
        {
            opk = '@Model.OperationKey';
            VoucherStatus = false;
            $('#inf-Status').removeClass('bg-info');
            $('#inf-Status').addClass('bg-danger');
            $('#txt-Status').text(iShll.update);
            LoadData(opk);
        } else
        {
            $('#inf-Status').addClass('bg-info');
            $('#inf-Status').removeClass('bg-danger');
            $('#txt-Status').text(iShll.new);
            VoucherStatus = true;
        }
        $('#tb-rows').on('click', '#btn-edit', function ()
        {
            IsLoading = 1;
            $('#tb-rows').find('[id="tr-' + $(this).data('key') + '"]').each(function ()
            {
                RowKey = $(this).find('[id="td-Key"]').data('value');
                rowCurrentItemKey = $(this).find('[id="td-ItemKey"]').data('value');
                $('#row-ItemKind').dxSelectBox('option', 'value', $(this).find('[id="td-ItemKind"]').data('value'));
                $('#row-Account').dxLookup('option', 'value', $(this).find('[id="td-ItemKey"]').data('value'));
                $('#row-Unit').dxSelectBox('option', 'value', $(this).find('[id="td-Unit"]').data('value'));
                $('#row-Color').dxSelectBox('option', 'value', $(this).find('[id="td-Color"]').data('value'));
                $('#row-Size').dxSelectBox('option', 'value', $(this).find('[id="td-Size"]').data('value'));
                $('#row-Quantity').dxNumberBox('option', 'value', $(this).find('[id="td-Quantity"]').data('value'));
                $('#row-Bonus').dxNumberBox('option', 'value', $(this).find('[id="td-Bonus"]').data('value'));
                $('#row-UnitPrice').dxNumberBox('option', 'value', $(this).find('[id="td-UnitPrice"]').data('value'));
                $('#row-Amount').dxNumberBox('option', 'value', $(this).find('[id="td-Amount"]').data('value'));
                $('#row-Discount').dxNumberBox('option', 'value', $(this).find('[id="td-Discount"]').data('value'));
                $('#row-vatKey').dxSelectBox('option', 'value', $(this).find('[id="td-vatKey"]').data('value'));
                $('#row-vatAmount').dxNumberBox('option', 'value', $(this).find('[id="td-vatAmount"]').data('value'));
                $('#row-Total').dxNumberBox('option', 'value', $(this).find('[id="td-Total"]').data('value'));
                $('#row-Description').dxTextBox('option', 'value', $(this).find('[id="td-Description"]').data('value'));
            });
            currentRow = $(this).data('key');
            isNewRow = false;
            IsLoading = 0;
            $("#mod-Row").modal({ backdrop: 'static' }).modal('toggle');
        });
        $('#tb-rows').on('dblclick', 'tr', function ()
        {
            IsLoading = 1;
               RowKey = $(this).find('[id="td-Key"]').data('value');
                rowCurrentItemKey = $(this).find('[id="td-ItemKey"]').data('value');
                $('#row-ItemKind').dxSelectBox('option', 'value', $(this).find('[id="td-ItemKind"]').data('value'));
                $('#row-Account').dxLookup('option', 'value', $(this).find('[id="td-ItemKey"]').data('value'));
                $('#row-Unit').dxSelectBox('option', 'value', $(this).find('[id="td-Unit"]').data('value'));
                $('#row-Color').dxSelectBox('option', 'value', $(this).find('[id="td-Color"]').data('value'));
                $('#row-Size').dxSelectBox('option', 'value', $(this).find('[id="td-Size"]').data('value'));
                $('#row-Quantity').dxNumberBox('option', 'value', $(this).find('[id="td-Quantity"]').data('value'));
                $('#row-Bonus').dxNumberBox('option', 'value', $(this).find('[id="td-Bonus"]').data('value'));
                $('#row-UnitPrice').dxNumberBox('option', 'value', $(this).find('[id="td-UnitPrice"]').data('value'));
                $('#row-Amount').dxNumberBox('option', 'value', $(this).find('[id="td-Amount"]').data('value'));
                $('#row-Discount').dxNumberBox('option', 'value', $(this).find('[id="td-Discount"]').data('value'));
                $('#row-vatKey').dxSelectBox('option', 'value', $(this).find('[id="td-vatKey"]').data('value'));
                $('#row-vatAmount').dxNumberBox('option', 'value', $(this).find('[id="td-vatAmount"]').data('value'));
                $('#row-Total').dxNumberBox('option', 'value', $(this).find('[id="td-Total"]').data('value'));
                $('#row-Description').dxTextBox('option', 'value', $(this).find('[id="td-Description"]').data('value'));
            currentRow = $(this).data('key');
            isNewRow = false;
            IsLoading = 0;
            $("#mod-Row").modal({ backdrop: 'static' }).modal('toggle');
        });
        inChangeItemKind = 1;
        $("#row-Account").dxLookup({
            dataSource: '/api/icore/LoadAccounts?Kind=8'
        });
        $('#row-Account').dxLookup('reset');
        $("#row-Account").dxLookup("getDataSource").load();
        inChangeItemKind = 0;
        $('#tb-rows').on('click', '#btn-delete', function ()
        {
            DeleteRow($(this).data('key'));
        });
    });
    function ChangefrmAccountKind (e)
    {
        $("#frm-AccountKey").dxLookup({
            dataSource: '/api/icore/LoadAccounts?Kind=' + e.value
        });
        $('#frm-AccountKey').dxLookup('reset');
    }
    //Start Operation
    var inChangeItemKind = 0;
    function ChangeItemKind (e)
    {
        if (inChangeItemKind == 1)
            return;
        inChangeItemKind = 1;
        $("#row-Account").dxLookup({
            dataSource: '/api/icore/LoadAccounts?Kind=' + e.value
        });
        $('#row-Account').dxLookup('reset');
        $("#row-Account").dxLookup("getDataSource").load().done(function ()
        {
            if (rowCurrentItemKey != null)
            {
                $('#row-Account').dxLookup('option', 'value', rowCurrentItemKey);
            }
        });
        inChangeItemKind = 0;
    }
    //End Start Operation
    //Stock
    function SelectedItemChanged (e)
    {
        var acckind = $('#row-ItemKind').dxSelectBox('option', 'value');
        switch (acckind)
        {
            case 8:
                $("#row-Unit").dxSelectBox("reset");
                $("#row-Unit").dxSelectBox({
                    dataSource: '/api/inv/icore/ItemUnits?Key=' + e.value
                });
                $("#row-Unit").dxSelectBox("getDataSource").load().done(function (data)
                {
                    if (data.length > 0)
                    {
                        $("#row-Unit").dxSelectBox("option", "value", data[ 0 ].Code);
                    }
                });
                $.ajax({
                    type: "get",
                    url: "/api/inv/icore/InvoiceItemDetails",
                    data: { Key: e.value },
                    dataType: "json",
                    success: function (response)
                    {
                        RowItemDetails = response;
                        $('#div-Color').prop('hidden', response.EnableColor == false ? true : false);
                        $('#div-Size').prop('hidden', response.EnableSize == false ? true : false);
                        if (response.vatKey == null)
                        {
                            var selectedvat = $("#row-vatKey").dxSelectBox('instance');
                            selectedvat.getDataSource().load().done(function (res)
                            {
                                $('#row-vatKey').dxSelectBox('option', 'value', res[ 0 ].Key);
                            });
                        } else
                        {
                            $('#row-vatKey').dxSelectBox('option', 'value', response.vatKey);
                        }
                        if (isNewRow == true)
                        {
                            $('#row-UnitPrice').dxNumberBox('option', 'value', response.Price);
                        }
                    },
                    failure: function (response)
                    {
                        alert(response);
                    },
                    error: function (response)
                    {
                        alert(response.responseText);
                    }
                });
                break;
            case 6:
                $.ajax({
            type: "get",
            url: "/api/icore/GetServiceVATKey",
            data: { Key:  e.value },
            dataType: "json",
            success: function (response)
            {
                    if (response == null)
                        {
                            var selectedvat = $("#row-vatKey").dxSelectBox('instance');
                            selectedvat.getDataSource().load().done(function (res)
                            {
                                $('#row-vatKey').dxSelectBox('option', 'value', res[ 0 ].Key);
                            });
                        } else
                        {
                            $('#row-vatKey').dxSelectBox('option', 'value', response);
                        }
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
            break;
            default:
                $('#div-Color').prop('hidden', true);
                $('#div-Size').prop('hidden', true);
                break;
        }
    }
    function EditAmount ()
    {
        if (IsLoading == 1)
            return;
        var selectedvat = $("#row-vatKey").dxSelectBox('instance').option('selectedItem');
        var vatRate = 0;
        if (selectedvat.Key == null)
        {
            vatRate = 0;
        } else
        {
            vatRate = selectedvat.Rate;
        }
        var UnitPrice = $('#row-UnitPrice').dxNumberBox('option', 'value');
        var Quantity = $('#row-Quantity').dxNumberBox('option', 'value');
        var Amount = UnitPrice * Quantity;
        var Discount = 0;
        if (DiscountKind == false)
        {
            Discount = $('#row-Discount').dxNumberBox('option', 'value');
        } else
        {
            Discount = Numbert(Number($('#row-Discount').dxNumberBox('option', 'value') * (UnitPrice * Quantity) / 100).toFixed(4));
        }
        var vatAmount = 0;
        vatAmount = Number(Number(((Amount - Discount) * vatRate) / 100).toFixed(4));
        var Total = 0;
        Total = Number(Number((Amount - Discount) + vatAmount).toFixed(4));
        //$("#edADis").dxNumberBox("option", "value", Number(Number(discount).toFixed(4)));
        $('#row-Amount').dxNumberBox('option', 'value', Number(Amount.toFixed(4)));
        $('#row-vatAmount').dxNumberBox('option', 'value', Number(vatAmount.toFixed(4)));
        $('#row-Total').dxNumberBox('option', 'value', Number(Total.toFixed(4)));
    }
    function RefelectAmount ()
    {
        var vatRate = 0;
        var selectedvat = $('#row-vatKey').dxSelectBox('instance').option('selectedItem');
        if (selectedvat.Key == null)
        {
            vatRate = 0;
        } else
        {
            vatRate = selectedvat.Rate;
        }
        var Quantity = 0;
        var Total = 0;
        var UnitPrice = 0;
        Quantity = $('#row-Quantity').dxNumberBox('option', 'value');
        Total = $('#row-Total').dxNumberBox('option', 'value');
        UnitPrice = ((100 * Total) / Quantity) / (100 + vatRate);
        var Amount = UnitPrice * Quantity;
        var Discount = 0;
        if (DiscountKind == false)
        {
            Discount = $('#row-Discount').dxNumberBox('option', 'value');
        } else
        {
            Discount = Number(Number($('#row-Discount').dxNumberBox('option', 'value') * (UnitPrice * Quantity) / 100).toFixed(4));
        }
        var vatAmount = 0;
        vatAmount = Number(Number(((Amount - Discount) * vatRate) / 100).toFixed(4));
        $('#row-UnitPrice').dxNumberBox('option', 'value', Number(Number(UnitPrice).toFixed(4)));
        $('#row-Discount').dxNumberBox('option', 'value', Number(Number(Discount).toFixed(4)));
        $('#row-Amount').dxNumberBox('option', 'value', Number(Number(Amount).toFixed(4)));
        $('#row-vatAmount').dxNumberBox('option', 'value', Number(Number(vatAmount).toFixed(4)));
    }
    function AddNewRow ()
    {
        isNewRow = true;
        RowKey = GeneratGuid();
        $('#row-ItemKind').dxSelectBox('option', 'value', 8);
        $('#row-Account').dxLookup('reset');
        var selectedvat = $("#row-vatKey").dxSelectBox('instance');
        selectedvat.getDataSource().load().done(function (res)
        {
            $('#row-vatKey').dxSelectBox('option', 'value', res[ 0 ].Key);
        });
        $('#row-Unit').dxSelectBox('reset');
        $('#row-Quantity').dxNumberBox('option', 'value', 0);
        $('#row-Bonus').dxNumberBox('option', 'value', 0);
        $('#row-UnitPrice').dxNumberBox('option', 'value', 0);
        $('#row-Discount').dxNumberBox('option', 'value', 0);
        $('#row-vatAmount').dxNumberBox('option', 'value', 0);
        $('#row-Total').dxNumberBox('option', 'value', 0);
        $('#row-Description').dxTextBox('reset');
        $('#row-CostCenter').dxLookup('reset');
        $('#row-Project').dxLookup('reset');
        $('#row-Color').dxSelectBox('option', 'value', 0);
        $('#row-Size').dxSelectBox('option', 'value', 0);
        $('#div-Color').prop('hidden', true);
        $('#div-Size').prop('hidden', true);
        $("#mod-Row").modal({ backdrop: 'static' }).modal('toggle');
    }
    function SaveRowChange ()
    {
        if ($('#row-Account').dxLookup('option', 'value') == null)
        {
            $.alert({
                title: 'Stop',
                content: "Please select account.",
            });
            $('#row-Account').dxLookup('focus');
            return;
        }
        if (isNewRow == true)
        {
            InsertNewRow();
        } else
        {
            SaveRowEdit();
        }
    }
    function getDescriptionStyle (xx)
    {
        if (xx.length == 0)
        {
            return '';
        }
        if (xx.length > 0 && xx.length < 250)
        {
            return 'height:65px;';
        }
        if (xx.length > 500)
        {
            return 'height:75px;';
        }
    }
    function getDescriptionCaption (xx)
    {
        if (xx.length == 0)
        {
            return '';
        } else
        {
            return 'Description:';
        }
    }
    function InsertNewRow ()
    {
        var selectedAccount = $("#row-Account").dxLookup('instance').option('selectedItem');
        var selectedvat = $("#row-vatKey").dxSelectBox('instance').option('selectedItem');
        var count = $('#tb-rows tr').length + 1;
        var str = '';
        str += '  <tr id="tr-' + count + '" data-key="' + count + '" style="' + getDescriptionStyle($('#row-Description').dxTextBox('option', 'text')) + '">'
        str += '      <td>'
        str += '          <div class="d-flex align-items-center">'
        str += '              <small style="margin-left:4px;margin-right:4px;min-width:30px;max-width:30px">' + count + '</small>'
        str += '              <div class="btn-group">'
        str += '                  <button id="btn-edit" data-key="' + count + '" type="button" class="btn btn-white btn-sm"><i class="fa fa-pen-square"></i></button>'
        str += '                  <button id="btn-delete" data-key="' + count + '" type="button" class="btn btn-white btn-sm text-red"><i class="fa fa-trash-alt"></i></button>'
        str += '              </div>'
        str += '          </div>'
        str += '          <div class="ccp position-absolute d-none mt-1">'
        str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">' + getDescriptionCaption($('#row-Description').dxTextBox('option', 'text')) + ' </b>' + $('#row-Description').dxTextBox('option', 'text') + '</p>'
        str += '          </div>'
        str += '      </td>'
        str += '      <td>' + GetItemKind($('#row-ItemKind').dxSelectBox('option', 'value')) + '</td>'
        str += '      <td><span class="text-dark">' + selectedAccount.Code + '</span></td>'
        str += '      <td>'
        str += '          <span class="text-dark">' + selectedAccount.xName + '</span>'
        str += '      </td>'
        str += '      <td>' + comma($('#row-Quantity').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Bonus').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-UnitPrice').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Amount').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Discount').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-vatAmount').dxNumberBox('option', 'value')) + '<small class="me-1 f-s-9 text-mute">' + selectedvat.Rate + '%</small></td>'
        str += '      <td>' + comma($('#row-Total').dxNumberBox('option', 'value')) + '</td>'
        str += '<td hidden id="td-Key" data-value="' + RowKey + '"></td>'
        str += '<td hidden id="td-Index" data-value="' + count + '"></td>'
        str += '<td hidden id="td-ItemKind" data-value="' + $('#row-ItemKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-ItemKey" data-value="' + selectedAccount.Key + '"></td>'
        str += '<td hidden id="td-Color" data-value="' + $('#row-Color').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Size" data-value="' + $('#row-Size').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Unit" data-value="' + $('#row-Unit').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-UnitPrice" data-value="' + $('#row-UnitPrice').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Quantity" data-value="' + $('#row-Quantity').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Bonus" data-value="' + $('#row-Bonus').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Amount" data-value="' + $('#row-Amount').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Discount" data-value="' + $('#row-Discount').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-vatAmount" data-value="' + $('#row-vatAmount').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-UnitCost" data-value="' + 0 + '"></td>'
        str += '<td hidden id="td-vatKey" data-value="' + selectedvat.Key + '"></td>'
        str += '<td hidden id="td-vatRate" data-value="' + selectedvat.Rate + '"></td>'
        str += '<td hidden id="td-Total" data-value="' + $('#row-Total').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Description" data-value="' + $('#row-Description').dxTextBox('option', 'value') + '"></td>'
        str += '  </tr>'
        $("#tb-rows").append(str);
        $("#mod-Row").modal('toggle');
        CalcAmount();
    }
    function SaveRowEdit ()
    {
        var selectedAccount = $("#row-Account").dxLookup('instance').option('selectedItem');
        var selectedvat = $("#row-vatKey").dxSelectBox('instance').option('selectedItem');
        $('#tr-' + currentRow).empty();
        var str = '';
        str += '      <td>'
        str += '          <div class="d-flex align-items-center">'
        str += '              <small style="margin-left:4px;margin-right:4px;min-width:30px;max-width:30px">' + currentRow + '</small>'
        str += '              <div class="btn-group">'
        str += '                  <button id="btn-edit" data-key="' + currentRow + '" type="button" class="btn btn-white btn-sm"><i class="fa fa-pen-square"></i></button>'
        str += '                  <button id="btn-delete" data-key="' + currentRow + '" type="button" class="btn btn-white btn-sm text-red"><i class="fa fa-trash-alt"></i></button>'
        str += '              </div>'
        str += '          </div>'
        str += '          <div class="ccp position-absolute d-none mt-1">'
        str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">' + getDescriptionCaption($('#row-Description').dxTextBox('option', 'text')) + ' </b>' + $('#row-Description').dxTextBox('option', 'text') + '</p>'
        str += '          </div>'
        str += '      </td>'
        str += '      <td>' + GetItemKind($('#row-ItemKind').dxSelectBox('option', 'value')) + '</td>'
        str += '      <td><span class="text-dark">' + selectedAccount.Code + '</span></td>'
        str += '      <td>'
        str += '          <span class="text-dark">' + selectedAccount.xName + '</span>'
        str += '      </td>'
        str += '      <td>' + comma($('#row-Quantity').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Bonus').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-UnitPrice').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Amount').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Discount').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-vatAmount').dxNumberBox('option', 'value')) + '<small class="me-1 f-s-9 text-mute">' + selectedvat.Rate + '%</small></td>'
        str += '      <td>' + comma($('#row-Total').dxNumberBox('option', 'value')) + '</td>'
        str += '<td hidden id="td-Key" data-value="' + RowKey + '"></td>'
        str += '<td hidden id="td-Index" data-value="' + currentRow + '"></td>'
        str += '<td hidden id="td-ItemKind" data-value="' + $('#row-ItemKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-ItemKey" data-value="' + selectedAccount.Key + '"></td>'
        str += '<td hidden id="td-Color" data-value="' + $('#row-Color').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Size" data-value="' + $('#row-Size').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Unit" data-value="' + $('#row-Unit').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-UnitPrice" data-value="' + $('#row-UnitPrice').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Quantity" data-value="' + $('#row-Quantity').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Bonus" data-value="' + $('#row-Bonus').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Amount" data-value="' + $('#row-Amount').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Discount" data-value="' + $('#row-Discount').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-vatAmount" data-value="' + $('#row-vatAmount').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-UnitCost" data-value="' + 0 + '"></td>'
        str += '<td hidden id="td-vatKey" data-value="' + selectedvat.Key + '"></td>'
        str += '<td hidden id="td-vatRate" data-value="' + selectedvat.Rate + '"></td>'
        str += '<td hidden id="td-Total" data-value="' + $('#row-Total').dxNumberBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Description" data-value="' + $('#row-Description').dxTextBox('option', 'value') + '"></td>'
        $('#tr-' + currentRow).append(str);
        $("#mod-Row").modal('toggle');
        CalcAmount();
    }
    function LoadData (key)
    {
        $.ajax({
            type: "get",
            url: "/api/Sales/idocuments/ProformaInvoiceDetails",
            data: { key: key },
            dataType: "json",
            success: function (response)
            {
                var count = 1;
                for (const item of response)
                {
                    var str = '';
                    str += '  <tr id="tr-' + count + '" data-key="' + count + '"  style="' + getDescriptionStyle(item.Description) + '">'
                    str += '      <td>'
                    str += '          <div class="d-flex align-items-center">'
                    str += '              <small style="margin-left:4px;margin-right:4px;min-width:30px;max-width:30px">' + count + '</small>'
                    str += '              <div class="btn-group">'
                    str += '                  <button id="btn-edit" data-key="' + count + '" type="button" class="btn btn-white btn-sm"><i class="fa fa-pen-square"></i></button>'
                    str += '                  <button id="btn-delete" data-key="' + count + '" type="button" class="btn btn-white btn-sm text-red"><i class="fa fa-trash-alt"></i></button>'
                    str += '              </div>'
                    str += '          </div>'
                    str += '          <div class="ccp position-absolute d-none mt-1">'
                    str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">' + getDescriptionCaption(item.Description) + ' </b>' + item.Description + '</p>'
                    str += '          </div>'
                    str += '      </td>'
                    str += '      <td>' + GetItemKind(item.ItemKind) + '</td>'
                    str += '      <td><span class="text-dark">' + item.jnAccount.Code + '</span></td>'
                    str += '      <td>'
                    str += '          <span class="text-dark">' + item.jnAccount.Display + '</span>'
                    str += '      </td>'
                    str += '      <td>' + comma(item.Quantity) + '</td>'
                    str += '      <td>' + comma(item.Bonus) + '</td>'
                    str += '      <td>' + comma(item.UnitPrice) + '</td>'
                    str += '      <td>' + comma(item.Amount) + '</td>'
                    str += '      <td>' + comma(item.Discount) + '</td>'
                    str += '      <td>' + comma(item.vatAmount) + '<small class="me-1 f-s-9 text-mute">' + item.vatRate + '%</small></td>'
                    str += '      <td>' + comma(item.Total) + '</td>'
                    str += '<td hidden id="td-Key" data-value="' + item.Key + '"></td>'
                    str += '<td hidden id="td-Index" data-value="' + count + '"></td>'
                    str += '<td hidden id="td-ItemKind" data-value="' + item.ItemKind + '"></td>'
                    str += '<td hidden id="td-ItemKey" data-value="' + item.ItemKey + '"></td>'
                    str += '<td hidden id="td-Color" data-value="' + item.Color + '"></td>'
                    str += '<td hidden id="td-Size" data-value="' + item.Size + '"></td>'
                    str += '<td hidden id="td-Unit" data-value="' + item.Unit + '"></td>'
                    str += '<td hidden id="td-UnitPrice" data-value="' + item.UnitPrice + '"></td>'
                    str += '<td hidden id="td-Quantity" data-value="' + item.Quantity + '"></td>'
                    str += '<td hidden id="td-Bonus" data-value="' + item.Bonus + '"></td>'
                    str += '<td hidden id="td-Amount" data-value="' + item.Amount + '"></td>'
                    str += '<td hidden id="td-Discount" data-value="' + item.Discount + '"></td>'
                    str += '<td hidden id="td-vatAmount" data-value="' + item.vatAmount + '"></td>'
                    str += '<td hidden id="td-vatKey" data-value="' + item.vatKey + '"></td>'
                    str += '<td hidden id="td-vatRate" data-value="' + item.vatRate + '"></td>'
                    str += '<td hidden id="td-Total" data-value="' + item.Total + '"></td>'
                    str += '<td hidden id="td-Description" data-value="' + item.Description + '"></td>'
                    str += '  </tr>'
                    $("#tb-rows").append(str);
                    CalcAmount();
                    count += 1;
                }
                CalcAmount();
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
    }
    function DeleteRow (key)
    {
        $.confirm({
            title: 'Confirm',
            content: 'Are you sure to delete row?',
            type: 'red',
            buttons: {
                Delete: {
                    text: 'Delete',
                    btnClass: 'btn-red',
                    action: function ()
                    {
                        $('#tr-' + key).remove();
                        CalcAmount();
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    action: function ()
                    {
                        return;
                    }
                }
            }
        });
    }
    function CalcAmount ()
    {
        var amount = 0;
        var vat = 0;
        var total = 0;
        $('#tb-rows').find('tr').each(function ()
        {
            amount += $(this).find('[id="td-Amount"]').data('value');
            vat += $(this).find('[id="td-vatAmount"]').data('value');
            total += $(this).find('[id="td-Total"]').data('value');
        });
        $('#txt-Amount').text(comma(amount));
        $('#txt-vatAmount').text(comma(vat));
        $('#txt-Total').text(comma(total));
        $('#txt-xTotal').text(comma(total));
    }
    function GetItemKind (kind, Type)
    {
        var strKind = '';
        switch (kind)
        {
            case 0:
                strKind = '<span  class="badge bg-yellow text-dark badg-plx me-1">' + 'C/A' + '</span>';
                break;
            case 1:
                strKind = '<span  class="badge bg-danger text-dark badg-plx me-1">' + 'Employee' + '</span>';
                break;
            case 2:
                strKind = '<span  class="badge bg-info text-dark badg-plx me-1">' + 'Cash' + '</span>';
                break;
            case 3:
                strKind = '<span  class="badge bg-success text-dark badg-plx me-1">' + 'Bank' + '</span>';
                break;
            case 4:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Fixture' + '</span>';
                break;
            case 6:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Revenue' + '</span>';
                break;
            case 5:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Expenses' + '</span>';
                break;
            case 7:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Account' + '</span>';
                break;
            case 8:
                strKind = '<span  class="badge bg-yellow text-dark badg-plx me-1">' + 'Stock' + '</span>';
                break;
        }
        return '<div class="d-flex">' + strKind + '</div>'
    }
    function ValidateSave ()
    {
        var rowscount = $('#tb-rows tr').length;
        if (rowscount == 0)
        {
            $.alert({
                title: 'Stop',
                icon: 'fa fa-warning',
                type: 'red',
                content: 'There is no data in General Ledger!',
                buttons: {
                    Ok: {
                        text: 'ok'
                    }
                }
            });
            return false;
        }
        if ($('#frm-Client').dxLookup('option', 'value') == null)
        {
            $.alert({
                title: 'Stop',
                icon: 'fa fa-warning',
                type: 'red',
                content: 'Please select Client!',
                buttons: {
                    Ok: {
                        text: 'ok'
                    }
                }
            });
            return false;
        }
        return true;
    }
    function SaveGeneralLedger ()
    {
        if (ValidateSave() == false)
        {
            return;
        }
        if (InPosting == true)
            return;

        InPosting = true;
        $('.PLSave').prop('disabled', true);
        $.confirm({
            title: 'Confirm',
            content: 'Save/update Transaction confirmation?',
            type: 'red',
            buttons: {
                Delete: {
                    text: 'Save/Update',
                    btnClass: 'btn-red',
                    action: function ()
                    {
                        //Start Update
                        var values = [];
                        $('#tb-rows').find('tr').each(function ()
                        {
                            values.push({
                                Key: $(this).find('[id="td-Key"]').data('value'),
                                Index: $(this).find('[id="td-Index"]').data('value'),
                                ItemKind: $(this).find('[id="td-ItemKind"]').data('value'),
                                ItemKey: $(this).find('[id="td-ItemKey"]').data('value'),
                                Color: $(this).find('[id="td-Color"]').data('value'),
                                Size: $(this).find('[id="td-Size"]').data('value'),
                                Unit: $(this).find('[id="td-Unit"]').data('value'),
                                UnitPrice: $(this).find('[id="td-UnitPrice"]').data('value'),
                                Quantity: $(this).find('[id="td-Quantity"]').data('value'),
                                Bonus: $(this).find('[id="td-Bonus"]').data('value'),
                                Amount: $(this).find('[id="td-Amount"]').data('value'),
                                Discount: $(this).find('[id="td-Discount"]').data('value'),
                                vatAmount: $(this).find('[id="td-vatAmount"]').data('value'),
                                UnitCost: $(this).find('[id="td-UnitCost"]').data('value'),
                                vatKey: $(this).find('[id="td-vatKey"]').data('value'),
                                vatRate: $(this).find('[id="td-vatRate"]').data('value'),
                                Total: $(this).find('[id="td-Total"]').data('value'),
                                Description: $(this).find('[id="td-Description"]').data('value'),
                            });
                        });
                        var voucher = $('#frm-Voucher').serialize();
                        $.ajax({
                            type: "post",
                            url: "/api/Sales/idocuments/UpdateProformaInvoice",
                            data: voucher + '&Data=' + JSON.stringify(values) + '&isNew=' + VoucherStatus,
                            dataType: "json",
                            success: function (response)
                            {
                                if (response.Status == true)
                                {
                                    exDocumentError(response);
                                    return;
                                }
                                $('#No').text(response.VoucherNo);
                                $('#OperationKey').val(response.OperationKey);
                                $('#inf-Status').removeClass('bg-info');
                                $('#inf-Status').addClass('bg-danger');
                               $('#txt-Status').text(iShll.update);
                                opk = response.OperationKey;
                                VoucherStatus = false;
                                  InPosting = false;
                                $('.PLSave').prop('disabled', false);
                                PrintDocument();
                            },
                            failure: function (response)
                            {
                                alert(response);
                            },
                            error: function (response)
                            {
                                alert(response.responseText);
                            }
                        });
                        //End Update
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    action: function ()
                    {
                        return;
                    }
                }
            }
        });
    }
    //Other Details show or hid
    function ChangeDueDays (e)
    {
        var vd = new Date();
        vd = $('#frm-InvoiceDate').dxDateBox('option', 'value');
        var due = new Date();
        $('#frm-DueDate').dxDateBox('option', 'value', due.setDate(vd.getDate() + e.value));
    }

      function PrintDocument ()
    {
        ProformaInvoicePrintTemplates(101, opk);
    }
</script>