@model CLiCore.Platx.Technical
@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    Guid Subscribe = Guid.Parse(User.FindFirstValue("aiwSubscribe"));
}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@iT.T(xLan,"1669","Technical")</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    </div>
    <form id="frm-Technical" data-parsley-validate="true">
        <div class="modal-body">
            @Html.HiddenFor(m => m.Key)
            @Html.HiddenFor(x=>x.Subscribe)
            @{
                if (Model.Key != null)
                {
                    <div class="xkey text-gray">@iT.T(xLan,"1299","Key"): @Model.Key</div>
                }
            }
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1164","Code")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.No).ID("cnt-No").Width(120).InputAttr("required", true).ReadOnly(true)
                    <span>Technical No:<span> Will generated after save</span></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1165","Account Name")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Name1).ID("cnt-Name1").Width("70%").InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1166","English Name")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Name2).ID("cnt-Name2").Width("70%").InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1303","Email")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Email).ID("cnt-Email").InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1676","Phone No")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Phone).ID("cnt-Phone").InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12"></label>
                <div class="col-lg-9 col-sm-12">
                    <div class="alert alert-yellow  m-1 p-1 rounded-1">
                        @iT.T(xLan,"1677","Technical can use phone or email to login")  <b> @iT.T(xLan,"1000","Platx")</b>.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1678","Passwoard")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().TextBoxFor(m => m.Passwoard).ID("cnt-Passwoard").Mode(TextBoxMode.Password).InputAttr("required", true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1671","DataBase")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().SelectBoxFor(m => m.DataBase).ID("cnt-DataBase").DataSource(CLiCore.Account.Selections.Database.GetData(xLan,Subscribe)).ValueExpr("Key").DisplayExpr("Display").Width("50%")
                </div>
            </div>
                     <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1319","City")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().SelectBoxFor(m => m.City).ID("cnt-City").DataSource(CLiCore.Selections.Cities.GetList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display").Width("50%")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1282","Status")</label>
                <div class="col-lg-9 col-sm-12">
                    @Html.DevExtreme().SwitchFor(m => m.Disable).ID("cnt-Disable").Width(65).SwitchedOnText("Disable").SwitchedOffText("Active")
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-yellow text-dark">@iT.T(xLan,"1197","Save Change")</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"1198","Cancel")</button>
            </div>
        </div>
    </form>
</div>
<script class="append-on-ajax-script">
    $(document).ready(function() {
        $("#frm-Technical").submit(function(event) {
            event.preventDefault();
            SaveAccount();
        });
    });
    function Submitfrm() {
        $('#frm-Technical').submit();
    }
    function SaveAccount() {
        if ($('#cnt-Name1').dxTextBox('option', 'text') == "") {
            alert('Please enter Code!');
            return;
        }
        if ($('#cnt-Email').dxTextBox('option', 'text') == "") {
            alert('Please enter Email !');
            return;
        }
        if ($('#cnt-Phone').dxTextBox('option', 'text') == "") {
            alert('Please enter Phone !');
            return;
        }
        if ($('#cnt-DataBase').dxSelectBox('option', 'value') == null) {
            alert('Please select Technical data file!');
            return;
        }
        var data = $('#frm-Technical').serialize();
        $.ajax({
            type: "POST",
            url: "/api/Manager/icore/UpdateTechnical",
            data: data,
            dataType: "json",
            success: function(response) {
                $("#mod-Technical").modal('toggle');
                RefreshGrid();
            },
            failure: function(response) {
                alert(response);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }
</script>
