@{
    string xLan = User.FindFirstValue("aiwLan");
}
<div class="menu">
    <div class="menu-search mb-n3">
        <input type="text" class="form-control" placeholder="@iT.T(xLan,"1140","Sidebar menu filter...")" data-sidebar-search="true" />
    </div>
    <div class="menu-item">
        <a href="/" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-house-chimney"></i></div><div class="menu-text">@iT.T(xLan,"1141","Applications")</div></a>
    </div>
    <div class="menu-item">
        <a href="/Financial" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-icon"><i class="ion-ios-pulse"></i></div><div class="menu-text">@iT.T(xLan,"1142","Home")</div></a>
    </div>
    <div class="menu-header">@iT.T(xLan,"1275","Financial Definitions")</div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1252","Financial Cards")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/Cards/CurrentAccount" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1307","Current Account")</div></a></div>
            <div class="menu-item"><a href="/Financial/Cards/CashBox" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1048","Cash Box")</div></a></div>
            <div class="menu-item"><a href="/Financial/Cards/Bank" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1377","Banks")</div></a></div>
            <div class="menu-item"><a href="/Financial/Cards/Expenses" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1018","Expenses")</div></a></div>
            <div class="menu-item"><a href="/Financial/Cards/Revenue" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1017","Revenue")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1199","Cost Center")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Accounting/Cards/CostCenter" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1199","Cost Center")</div></a></div>
            <div class="menu-item"><a href="/Accounting/Cards/Project" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1220","Project")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1196","Financial Transaction")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/Documents/Transaction?DocumentKind=3" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1378","Cash Payment")</div></a></div>
            <div class="menu-item"><a href="/Financial/Documents/Transaction?DocumentKind=4" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1379","Cash Collection")</div></a></div>
            <div class="menu-item"><a href="/Financial/Documents/Transaction?DocumentKind=5" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1380","Bank Payment")</div></a></div>
            <div class="menu-item"><a href="/Financial/Documents/Transaction?DocumentKind=6" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1381","Bank Collection")</div></a></div>
            <div class="menu-item"><a href="/Financial/Documents/Transaction?DocumentKind=8" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1382","Debit Note")</div></a></div>
            <div class="menu-item"><a href="/Financial/Documents/Transaction?DocumentKind=7" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1383","Credit Note")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1384","Transaction Manager")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/Manager/Transactions?DocumentKind=3" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1378","Cash Payment")</div></a></div>
            <div class="menu-item"><a href="/Financial/Manager/Transactions?DocumentKind=4" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1379","Cash Collection")</div></a></div>
            <div class="menu-item"><a href="/Financial/Manager/Transactions?DocumentKind=5" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1380","Bank Payment")</div></a></div>
            <div class="menu-item"><a href="/Financial/Manager/Transactions?DocumentKind=6" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1381","Bank Collection")</div></a></div>
            <div class="menu-item"><a href="/Financial/Manager/Transactions?DocumentKind=8" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1382","Debit Note")</div></a></div>
            <div class="menu-item"><a href="/Financial/Manager/Transactions?DocumentKind=7" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1383","Credit Note")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1385","Vouchers Manager")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/Documents/JournalVoucher?DocumentKind=9" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1386","New Journal Voucher")</div></a></div>
            <div class="menu-item"><a href="/Financial/Manager/JournalVoucher?DocumentKind=9" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1387","Journal Voucher List")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"2727","Financial Operation")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/Operation/PostSalaries" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2728","Post Accrual Salaries")</div></a></div>
        </div>
    </div>
    <div class="menu-header">@iT.T(xLan,"2190","Financial Reports")</div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1223","Account Statment")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsStatment/AccountStatment?CurrentKind=0" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1307","Current Account")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/EmployeeStatment" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1393","Employee Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/AccountStatment?CurrentKind=2" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1394","Cash Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/AccountStatment?CurrentKind=3" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1395","Bank Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/AccountStatment?CurrentKind=5" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1396","Expenses Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/AccountStatment?CurrentKind=6" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1397","Revenu Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/AccountStatment?CurrentKind=7" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2541","Account Fin.Transaction")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1398","Summary Statment")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsStatment/SummaryStatment?CurrentKind=0" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1307","Current Account")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/SummaryStatment?CurrentKind=1" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1393","Employee Statment") </div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/SummaryStatment?CurrentKind=2" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1394","Cash Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/SummaryStatment?CurrentKind=3" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1395","Bank Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/SummaryStatment?CurrentKind=5" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1396","Expenses Statment")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsStatment/SummaryStatment?CurrentKind=6" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1397","Revenu Statment")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1399","Accounts Balance")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsBalance/CurrentAccount" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1400","C.Account Balance")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsBalance/Employee" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1401","Employee Balance")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsBalance/Cash" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1047","Cash Balance")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsBalance/Bank" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1046","Bank Balance")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsBalance/Expense" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1402","Expenses Balance")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsBalance/Revenue" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1403","Revenu Balance")</div></a></div>
        </div>
    </div>
    <div class="menu-header">@iT.T(xLan,"1404","VAT Reports")</div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"1058","VAT Declaration")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsVAT/Declaration" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"1405","Main Declaration")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsVAT/DeclarationSheet" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2479","VAT Decleration Sheet")</div></a></div>
     
        </div>
    </div>
    <div class="menu-header">@iT.T(xLan,"2191","Advance Reports")</div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"2192","Invoices Ages")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsAges/Summary?DocKind=80" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2193","Sales Summary")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsAges/Summary?DocKind=71" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2194","Purchase Summary")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"2185","Cost Center")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsCostCenter/CostCenterBalance" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2181","Cost Center Profit")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsCostCenter/CostStatment" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2195","Cost Center Statment")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"2335","Project")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsProject/ProjectBalance" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2334","Project Profit")</div></a></div>
            <div class="menu-item"><a href="/Financial/ReportsProject/ProjectStatment" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2337","Project Statment")</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link"><div class="menu-icon"><i class="fa-solid fa-square"></i></div><div class="menu-text">@iT.T(xLan,"2729","Advance Reports")</div><div class="menu-caret"></div></a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/Financial/ReportsAdvance/TransactionsDetails" class="menu-link" data-ajax="true" data-ajax-method="Get" data-ajax-update="#content" data-ajax-complete="PushStatus($(this))"><div class="menu-text">@iT.T(xLan,"2714","Transactions Details")</div></a></div>
       
        </div>
    </div>
    <!-- BEGIN minify-button -->
    <div class="menu-item d-flex">
        <a href="javascript:;" class="app-sidebar-minify-btn ms-auto" data-toggle="app-sidebar-minify"><i class="ion-ios-arrow-back"></i> <div class="menu-text">@iT.T(xLan,"1261","Collapse")</div></a>
    </div>
    <!-- END minify-button -->
</div>
<div id="loader" class="app-loader">
    <span class="spinner"></span>
</div>
 