@model CLiFinancial.Documents.Transaction
@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    int xYear = Convert.ToInt32(User.FindFirstValue("aiwYear"));
    string Currency = CLiCore.VoucherOperation.DefaultCurrency(DB);
    Guid? vatAccount = xConfig.vatKey(DB);
    Guid UserKey = Guid.Parse(User.FindFirstValue("Key"));

}
<style>
    .shl-invoice-header > span {
        margin-left: 4px;
        margin-right: 4px;
    }

    .shl-invoice-header > p {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    /*  .xd > tr:hover .ccp {
            display: block !important;
        }*/
    .xd > tr:hover {
        cursor: pointer;

    }

    .wd70 {
        width: 65px !important;
        min-width: 65px !important;
        max-width: 65px !important;
    }

    .badg-plx {
        width: 55px !important;
        min-width: 55px !important;
        max-width: 55px !important;
        line-height: 22px !important;
        font-size: 10px;
    }
</style>
<div class="invoice">
    <div class="invoice-company">
        <div class="float-end hidden-print">
            <div class="btn-group">
                <button id="brn-save" type="button" class="btn btn-yellow mb-10px PLSave" onclick="SaveGeneralLedger()"><i class="fa fa-save t-plus-1 text-dark fa-fw fa-lg"></i> @iT.T(xLan,"1622","Save Updat") </button>
                <button type="button" onclick="PrintDocument()" class="btn btn-white mb-10px"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> @iT.T(xLan,"1208","Print")</button>
            </div>

        </div>
        <div class="float-end hidden-print me-1">
            <div class="btn-group">
                <button type="button" class="btn btn-gray mb-10px" onclick="ViewGeneralLedger('@Model.OperationKey')">GL</button>
            </div>
        </div>

        <div class="shl-invoice-header">
            @iT.T(xLan,"1327","Journal Voucher")  <span id="inf-Status" class="badge bg-info text-dark"><small class="f-s-9 me-1">@iT.T(xLan,"2141","Status")</small><span id="txt-Status" class="me-1">Update</span></span><span id="txt-VoucherNo" class="text-danger"># @Model.VoucherNo </span><small class="f-s-11 me-1">@iT.T(xLan,"2140","Monthly No")<span id="txt-MonthlyNo"> @Model.MonthlyNo</span></small>
            <p class="f-s-10 mt-1" hidden><i class="fa fa-exclamation-circle text-danger"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</p>
            <p class="f-s-10 mt-1" hidden><i class="fa fa-exclamation-circle text-danger"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</p>
        </div>
    </div>
    <form id="frm-Voucher">
        @Html.HiddenFor(m=>m.DocumentKind)
        @Html.HiddenFor(m=>m.OperationKey)
        @Html.HiddenFor(m=>m.VoucherNo)
        @Html.HiddenFor(m=>m.MonthlyNo)
        @Html.HiddenFor(m=>m.CreateUser)
        @Html.HiddenFor(m=>m.CreateDate)
        <div class="invoice-header">
            <div class="invoice-from">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1210","Date")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().DateBoxFor(m => m.VoucherDate).ID("frm-VoucherDate").Width(110).DisplayFormat("dd.MM.yyyy").Min(new DateTime(xYear,1,1)).Max(DateTime.UtcNow.AddMinutes(180)).OnValueChanged("GetMonthlyNo")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1328","Prefix")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().SelectBoxFor(m => m.Prefix).ID("frm-Prefix").DataSource(CLiFinancial.Selections.Prefix.GetList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display").Width(200)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1162","Category")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().SelectBoxFor(m => m.Category).ID("frm-Category").DataSource(CLiFinancial.Selections.Groups.JVCategories(DB,xLan)).ValueExpr("Key").DisplayExpr("Display").Width(200)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1212","Description")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().TextAreaFor(m => m.Description).ID("frm-Description").Height(65)
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row" hidden>
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1329","Transaction No")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().TextBoxFor(m => m.TransactionNo).ID("frm-TransactionNo").Width(200)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1281","Branch")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().SelectBoxFor(m => m.Branch).ID("frm-Branch").DataSource(CLiFinancial.Selections.Branches.GetList(DB,xLan)).ValueExpr("No").DisplayExpr("Display").Width(185)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1330","Reference No")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().TextBoxFor(m => m.ReferenceNo).ID("frm-ReferenceNo").Width(185)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1331","Ref.Date")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().DateBoxFor(m => m.ReferenceDate).ID("frm-ReferenceDate").Width(110).DisplayFormat("dd.MM.yyyy")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1220","Project")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().LookupFor(m=>m.Project).ID("frm-Project").DataSource(CLiAccounting.Selections.Project.FullList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1332","Cst.Center")</label>
                            <div class="col-lg-9 col-sm-12">
                                @Html.DevExtreme().LookupFor(m=>m.CostCenter).ID("frm-CostCenter").DataSource(CLiAccounting.Selections.CostCenter.FullList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card border-0 text-truncate mb-3 text-dark">
                            <!-- BEGIN card-body -->
                            <div class="card-body">
                                <!-- BEGIN title -->
                                <div class="mb-3 ">
                                    <b class="mb-3">@iT.T(xLan,"2154","Voucher Details")</b>
                                </div>


                                <div class="d-flex mb-2">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-circle text-red fs-8px me-2"></i>@iT.T(xLan,"1008","Debit")
                                    </div>
                                    <div class="d-flex align-items-center ms-auto">
                                        <div class="w-50px text-end ps-2 fw-bold"><span id="txt-xDebit">0</span></div>
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-circle text-red fs-8px me-2"></i>@iT.T(xLan,"1009","Credit")
                                    </div>
                                    <div class="d-flex align-items-center ms-auto">
                                        <div class="w-50px text-end ps-2 fw-bold"><span id="txt-xCredit">0</span></div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-circle text-red fs-8px me-2"></i>@iT.T(xLan,"1010","Diff")
                                    </div>
                                    <div class="d-flex align-items-center ms-auto">
                                        <div class="w-50px text-end ps-2 fw-bold"><span id="txt-xDiff">0</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card border-0 text-truncate mb-3 text-dark" style="height:225px">
                            <!-- BEGIN card-body -->
                            <div class="card-body">
                                <!-- BEGIN title -->
                                <div class="mb-3 ">
                                    <b class="mb-3">@iT.T(xLan,"2154","Voucher Details")</b>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2155","Create User")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10"><span>@Model.CreateUserInfo.Display</span></div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2156","Create Date")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10" style="direction:ltr">@(Model.CreateDate.HasValue == true ? Model.CreateDate.Value.ToString("dd.MM.yyyy hh:mm tt") : "")</div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2157","Update User")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10"><span>@Model.CreateUserInfo.Display</span></div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="d-block ">
                                        @iT.T(xLan,"2158","Update Date")
                                    </div>
                                    <div class="d-block  ms-auto">
                                        <div class="ps-2 f-s-10" style="direction:ltr">@(Model.CreateDate.HasValue == true ? Model.CreateDate.Value.ToString("dd.MM.yyyy hh:mm tt") : "")</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="invoice-content mt-3">
        <div class="sticky">
            <button type="button" id="btn-add" class="btn btn-yellow btn-sm text-dark" onclick="AddNewRow()">@iT.T(xLan,"1214","Add New Row")</button>
            <button type="button" id="btn-CopyInvoice" class="btn btn-white btn-sm" onclick="ShowCopy()" title="@iT.T(xLan,"","Copy from previous JV")"><i class="fa fa-clone"></i></button>
        </div>
        <div class="table-responsive">
            <table class="table table-invoice table-hover">
                <thead>
                    <tr>
                        <th style="width:100px;max-width:100px">@iT.T(xLan,"1215","Actions")</th>
                        <th style="width:110px;min-width:110px;max-width:110px">@iT.T(xLan,"1158","Kind")</th>
                        <th style="width:70px;min-width:70px;max-width:70px">@iT.T(xLan,"1164","Code")</th>
                        <th style="width:30%;min-width:150px">@iT.T(xLan,"1165","Account Name")</th>
                        <th style="width:70%">@iT.T(xLan,"1212","Description")</th>
                        <th style="width:100px;min-width:100px;max-width:100px">@iT.T(xLan,"1008","Debit")</th>
                        <th style="width:120px;min-width:120px;max-width:120px">@iT.T(xLan,"1009","Credit")</th>
                    </tr>
                </thead>
                <tbody class="xd" id="tb-rows">
                </tbody>
            </table>
        </div>
        <div class="invoice-price">
            <div class="invoice-price-left">
                <div class="invoice-price-row">
                    <div class="sub-price">
                        <small>@iT.T(xLan,"1008","Debit")</small>
                        <span id="txt-Debit" class="text-dark">0.00</span>
                    </div>
                    <div class="sub-price">
                        <small>@iT.T(xLan,"1009","Credit")</small>
                        <span id="txt-Credit" class="text-dark">0.00</span>
                    </div>
                    <div class="sub-price">
                        <small>@iT.T(xLan,"1010","Diff")</small>
                        <span id="txt-Diff" class="text-red me-2">0.00</span>
                    </div>
                </div>
            </div>
            <div class="invoice-price-right">
                <small>@iT.T(xLan,"1120","TOTAL")</small> <span class="fw-bold" id="txt-xTotal">0.00</span>
            </div>
        </div>
    </div>
    <div class="invoice-note">
        <hr>
        <div class="text-left">
            <div class="btn-group">
                <button type="button" class="btn btn-yellow mb-10px PLSave" onclick="SaveGeneralLedger()"><i class="fa fa-save t-plus-1 text-dark fa-fw fa-lg"></i> @iT.T(xLan,"1622","Save Updat")</button>
                <button type="button" onclick="PrintDocument()" class="btn btn-white mb-10px"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> @iT.T(xLan,"1208","Print")</button>
            </div>
        </div>
    </div>
</div>
<div id="mod-Row" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@iT.T(xLan,"1218","Row Details")</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1333","Account Kind")</label>
                    <div class="col-lg-9 col-sm-12">
                        @Html.DevExtreme().SelectBox().ID("row-AccountKind").DataSource(iReplacer.finAccounts(xLan)).ValueExpr("Value").DisplayExpr("Display").Width(150).Value(0).OnValueChanged("ChangeAccountKind")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1334","Current Kind")</label>
                    <div class="col-lg-9 col-sm-12">
                        @Html.DevExtreme().SelectBox().ID("row-AccountType").ValueExpr("Value").DisplayExpr("Display").Width(150).Value(0).OnValueChanged("ChangeAccountType")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1219","Account")</label>
                    <div class="col-lg-9 col-sm-12">
                        <div class="input-group">
                            @Html.DevExtreme().Lookup().ID("row-Account").ValueExpr("Key").DisplayExpr("Display").Width("90%").OnValueChanged("ChangeAccount")
                            <button type="button" class="btn btn-white f-s-10" onclick="RefelectAmount()"><i id="i-account" class="fas fa-plus"></i></button>
                        </div>
                        <div class="me-2 mb-1">
                            <small class="f-s-10 f-w-500 text-dark me-2" id="inf-Balance">@iT.T(xLan,"","Account Balance:") <b class="me-2" id="txt-AccountBalance"></b></small>
                        </div>
                    </div>
                </div>
                <div id="div-PaymentKind">
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1335","Payment Kind")</label>
                        <div class="col-lg-9 col-sm-12">
                            <div class="input-group">
                                @Html.DevExtreme().SelectBox().ID("row-PaymentKind").DataSource(iReplacer.finPaymentKind(xLan)).ValueExpr("Value").DisplayExpr("Display").Width(150).Value(0).OnValueChanged("ChangePaymentKind")
                                <button hidden id="btn-SalesInvoice" type="button" class="btn btn-success f-s-10 text-dark ms-2" style="width:60px" onclick="ShowAgesInvoices(80)">@iT.T(xLan, "1061","Sales")</button>
                                <button hidden id="btn-PurchaseInvoice" type="button" class="btn btn-info f-s-10 text-dark" style="width:60px" onclick="ShowAgesInvoices(71)">@iT.T(xLan, "1062","Purchase")</button>
                            </div>
                            <div class="me-2 mb-1">
                                <small class="f-s-10 f-w-500 text-dark" id="txt-PaymentInvoices">@iT.T(xLan,"1336","Calculated in Ages Operation")</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1212","Description")</label>
                    <div class="col-9">
                        @Html.DevExtreme().TextArea().ID("row-Description").Height(65)
                    </div>
                </div>
                <div hidden id="div-ExpensesDistribution">
                    <div class="form-group row">
                        <label class=" col-3 ">@iT.T(xLan, "1337","Expenses Kind")</label>
                        <div class="col-9">
                            @Html.DevExtreme().SelectBox().ID("row-ExpensesKind").ElementAttr("class", "plxenter").Width(130).DataSource(iReplacer.finAccounts(xLan)).ValueExpr("Value").DisplayExpr("Display").Value(0)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class=" col-3 ">@iT.T(xLan, "1338","Start Year") </label>
                        <div class="col-9">
                            @Html.DevExtreme().NumberBox().ID("row-ExpDisYear").ElementAttr("class", "plxenter").ShowSpinButtons(true).Width(130).Min(0).Value(2020)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-12 ">@iT.T(xLan, "1339","Start Month")</label>
                        <div class="col-lg-9 col-md-12 ">
                            @Html.DevExtreme().SelectBox().ID("row-ExpDisMonth").ElementAttr("class", "plxenter").Width(130).DataSource(iReplacer.finAccounts(xLan)).ValueExpr("Value").DisplayExpr("Display")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class=" col-3 ">@iT.T(xLan, "1340","Months")</label>
                        <div class="col-9">
                            @Html.DevExtreme().NumberBox().ID("row-ExpDisMonths").ElementAttr("class", "plxenter").ShowSpinButtons(true).Width(130).Min(0)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1008","Debit")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("row-Debit").Format("0,###.##").ShowSpinButtons(true).Width(145).Min(0).OnValueChanged("ChangeDebit")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1009","Credit")</label>
                    <div class="col-9">
                        @Html.DevExtreme().NumberBox().ID("row-Credit").Format("0,###.##").ShowSpinButtons(true).Width(145).Min(0).OnValueChanged("ChangeCredit")
                    </div>
                </div>
                <div id="div-vat">
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"","In/Out VAT Report")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().SelectBox().ID("row-isVAT").Width(145).DataSource(iReplacer.finISvat(xLan)).ValueExpr("Value").DisplayExpr("Display")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1977","vatKey")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().SelectBox().ID("row-vatKey").Width(145).DataSource(CLiFinancial.Selections.vatRate.vatRates(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1341","vat Reg No")</label>
                        <div class="col-lg-9 col-sm-12">
                            <div class="input-group">
                                @Html.DevExtreme().TextBox().ID("row-vatRegNo").Width("89%")
                                <button type="button" class="btn btn-white f-s-10" onclick="SearchVAT()"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"","vat Sup/Client")</label>
                        <div class="col-lg-9 col-sm-12">
                            <div class="input-group">
                                @Html.DevExtreme().TextBox().ID("row-vatCurrent").Width("89%")
                                <button type="button" class="btn btn-white f-s-10" onclick="SearchVAT()"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div hidden id="div-Importation">
                    <div class="form-group row">
                        <label class=" col-3 ">@iT.T(xLan, "1342","Importation File")</label>
                        <div class="col-9">
                            @Html.DevExtreme().Lookup().ID("row-Importation").ValueExpr("Key").DisplayExpr("Display").ShowClearButton(true)
                        </div>
                    </div>
                </div>
                <div hidden id="div-Person">
                    <div class="form-group row">
                        <label class=" col-3 ">@iT.T(xLan, "1343","Collection Person")</label>
                        <div class="col-9">
                            @Html.DevExtreme().Lookup().ID("row-Person").ValueExpr("Key").DisplayExpr("Display").ShowClearButton(true)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1330","Reference No")</label>
                    <div class="col-9">
                        @Html.DevExtreme().TextBox().ID("row-ReferenceNo")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1210","Date")</label>
                    <div class="col-lg-9 col-sm-12">
                        @Html.DevExtreme().DateBox().ID("row-ReferenceDate").Width(130).DisplayFormat("dd.MM.yyyy").Value(DateTime.Now)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1199","Cost Center")</label>
                    <div class="col-9">
                        @Html.DevExtreme().Lookup().ID("row-CostCenter").DataSource(CLiAccounting.Selections.CostCenter.FullList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display").ShowClearButton(true)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">@iT.T(xLan,"1220","Project")</label>
                    <div class="col-9">
                        @Html.DevExtreme().Lookup().ID("row-Project").DataSource(CLiAccounting.Selections.Project.FullList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display").ShowClearButton(true)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="submit" class="btn btn-yellow text-dark" onclick="SaveRowChange()">@iT.T(xLan,"1197","Save Change")</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"1198","Cancel")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mod-AgesInvoices" class="modal"><div class="modal-dialog modal-lg" id="con-AgesInvoices"></div></div>
<div id="mod-Copy" class="modal"><div class="modal-dialog modal-lg" id="con-Copy"></div></div>
<script class="append-on-ajax-script">
    var vatAccount;
    var clcDebitCredit = 0;
    var isNewRow;
    var currentRow;
    var opk = null;
    var VoucherStatus = false;
    var Currency;
    var rowCurrentAccountKey = null;
    var RowKey = null;
    var CloseInvoices = [];
    var RowInvoices = [];
    var TempRowInvoices = [];
    var ChangedAccountKey = false;
    var isLoadingDetails = 0;
    var clsDocumentKind;
    var SlipStatus = 0;
    var InPosting=false;
    $(document).ready(function ()
    {
        vatAccount = '@vatAccount';
        Currency = '@Currency';

        if ('@ViewBag.Status' == 'False')
        {
            opk = '@Model.OperationKey';
            SlipStatus = Number('@Model.Status');
            VoucherStatus = false;
            $('#inf-Status').removeClass('bg-info');
            $('#inf-Status').addClass('bg-danger');
            $('#txt-Status').text(iShll.update);
            LoadData(opk);
            LoadCloseInvoices(opk);
        } else
        {
            $('#inf-Status').addClass('bg-info');
            $('#inf-Status').removeClass('bg-danger');
            $('#txt-Status').text(iShll.new);
            VoucherStatus = true;
        }


        $("#row-AccountType").dxSelectBox({
            dataSource: '/api/icore/LoadAccountTypes?Kind=0'
        });
        $('#row-AccountType').dxSelectBox('reset');
        $("#row-AccountType").dxSelectBox("getDataSource").load().done(function ()
        {
            $('#row-AccountType').dxSelectBox('option', 'value', 0);
        });

        $('#tb-rows').on('click', '#btn-edit', function ()
        {
            isLoadingDetails = 1;
            $('#tb-rows').find('[id="tr-' + $(this).data('key') + '"]').each(function ()
            {
                RowKey = $(this).find('[id="td-Key"]').data('value');
                rowCurrentAccountKey = $(this).find('[id="td-AccountKey"]').data('value');
                $('#row-AccountKind').dxSelectBox('option', 'value', $(this).find('[id="td-AccountKind"]').data('value'));
                $('#row-AccountType').dxSelectBox('option', 'value', $(this).find('[id="td-AccountType"]').data('value'));
                $('#row-PaymentKind').dxSelectBox('option', 'value', $(this).find('[id="td-PaymentKind"]').data('value'));
                $('#row-Account').dxLookup('option', 'value', $(this).find('[id="td-AccountKey"]').data('value'));
                $('#row-Description').dxTextArea('option', 'value', $(this).find('[id="td-Description"]').data('value'));
                $('#row-vatKey').dxSelectBox('option', 'value', $(this).find('[id="td-vatKey"]').data('value'));
                $('#row-vatRegNo').dxTextBox('option', 'value', $(this).find('[id="td-vatRegNo"]').data('value'));
                $('#row-vatCurrent').dxTextBox('option', 'value', $(this).find('[id="td-vatCurrent"]').data('value'));
                $('#row-Importation').dxLookup('option', 'value', $(this).find('[id="td-Importation"]').data('value'));
                $('#row-Person').dxLookup('option', 'value', $(this).find('[id="td-Person"]').data('value'));
                $('#row-ReferenceNo').dxTextBox('option', 'value', $(this).find('[id="td-ReferenceNo"]').data('value'));
                $('#row-ReferenceDate').dxDateBox('option', 'value', $(this).find('[id="td-ReferenceDate"]').data('value'));
                $('#row-CostCenter').dxLookup('option', 'value', $(this).find('[id="td-CostCenter"]').data('value'));
                $('#row-Project').dxLookup('option', 'value', $(this).find('[id="td-Project"]').data('value'));
                $('#row-Debit').dxNumberBox('option', 'value', $(this).find('[id="td-Debit"]').data('value'));
                $('#row-Credit').dxNumberBox('option', 'value', $(this).find('[id="td-Credit"]').data('value'));
                $('#row-isVAT').dxSelectBox('option', 'value', $(this).find('[id="td-isVAT"]').data('value'));
            });
            currentRow = $(this).data('key');
            isNewRow = false;
            var clsRows = 0;
            var clsAmount = 0;
            TempRowInvoices = [];
            TempRowInvoices.splice(0, TempRowInvoices.length);
            RowInvoices = [];
            RowInvoices.splice(0, RowInvoices.length);
            for (const item of CloseInvoices)
            {
                if (item.Key == RowKey)
                {
                    clsRows += 1;
                    clsAmount += item.Amount;
                    TempRowInvoices.push({
                        Key: RowKey,
                        InvoiceKey: item.InvoiceKey,
                        Amount: item.Amount
                    });
                    RowInvoices.push({
                        Key: RowKey,
                        InvoiceKey: item.InvoiceKey,
                        Amount: item.Amount
                    });
                }
            }
            if (clsAmount > 0)
            {
                $('#txt-PaymentInvoices').text('This payment incloud ' + clsRows + ' Invoices,Amount is: ' + comma(clsAmount));
            } else
            {
                $('#txt-PaymentInvoices').text('The payment out of invoices.');
            }
            ChangedAccountKey = false;
            isLoadingDetails = 0;
            $("#mod-Row").modal({ backdrop: 'static' }).modal('toggle');
        });

        $('#tb-rows').on('dblclick', 'tr', function ()
        {
            isLoadingDetails = 1;

            RowKey = $(this).find('[id="td-Key"]').data('value');
            rowCurrentAccountKey = $(this).find('[id="td-AccountKey"]').data('value');
            $('#row-AccountKind').dxSelectBox('option', 'value', $(this).find('[id="td-AccountKind"]').data('value'));
            $('#row-AccountType').dxSelectBox('option', 'value', $(this).find('[id="td-AccountType"]').data('value'));
            $('#row-PaymentKind').dxSelectBox('option', 'value', $(this).find('[id="td-PaymentKind"]').data('value'));
            $('#row-Account').dxLookup('option', 'value', $(this).find('[id="td-AccountKey"]').data('value'));
            $('#row-Description').dxTextArea('option', 'value', $(this).find('[id="td-Description"]').data('value'));
            $('#row-vatKey').dxSelectBox('option', 'value', $(this).find('[id="td-vatKey"]').data('value'));
            $('#row-vatRegNo').dxTextBox('option', 'value', $(this).find('[id="td-vatRegNo"]').data('value'));
            $('#row-vatCurrent').dxTextBox('option', 'value', $(this).find('[id="td-vatCurrent"]').data('value'));
            $('#row-Importation').dxLookup('option', 'value', $(this).find('[id="td-Importation"]').data('value'));
            $('#row-Person').dxLookup('option', 'value', $(this).find('[id="td-Person"]').data('value'));
            $('#row-ReferenceNo').dxTextBox('option', 'value', $(this).find('[id="td-ReferenceNo"]').data('value'));
            $('#row-ReferenceDate').dxDateBox('option', 'value', $(this).find('[id="td-ReferenceDate"]').data('value'));
            $('#row-CostCenter').dxLookup('option', 'value', $(this).find('[id="td-CostCenter"]').data('value'));
            $('#row-Project').dxLookup('option', 'value', $(this).find('[id="td-Project"]').data('value'));
            $('#row-Debit').dxNumberBox('option', 'value', $(this).find('[id="td-Debit"]').data('value'));
            $('#row-Credit').dxNumberBox('option', 'value', $(this).find('[id="td-Credit"]').data('value'));
            $('#row-isVAT').dxSelectBox('option', 'value', $(this).find('[id="td-isVAT"]').data('value'));

            currentRow = $(this).data('key');
            isNewRow = false;
            var clsRows = 0;
            var clsAmount = 0;
            TempRowInvoices = [];
            TempRowInvoices.splice(0, TempRowInvoices.length);
            RowInvoices = [];
            RowInvoices.splice(0, RowInvoices.length);
            for (const item of CloseInvoices)
            {
                if (item.Key == RowKey)
                {
                    clsRows += 1;
                    clsAmount += item.Amount;
                    TempRowInvoices.push({
                        Key: RowKey,
                        InvoiceKey: item.InvoiceKey,
                        Amount: item.Amount
                    });
                    RowInvoices.push({
                        Key: RowKey,
                        InvoiceKey: item.InvoiceKey,
                        Amount: item.Amount
                    });
                }
            }
            if (clsAmount > 0)
            {
                $('#txt-PaymentInvoices').text('This payment incloud ' + clsRows + ' Invoices,Amount is: ' + comma(clsAmount));
            } else
            {
                $('#txt-PaymentInvoices').text('The payment out of invoices.');
            }
            ChangedAccountKey = false;
            isLoadingDetails = 0;
            $("#mod-Row").modal({ backdrop: 'static' }).modal('toggle');
        });

        $('#tb-rows').on('click', '#btn-delete', function ()
        {
            DeleteRow($(this).data('key'), $(this).data('rowkey'));
        });
    });
    //Start Operation
    var inChangeAccountKind = 0;
    function ChangeAccountKind (e)
    {
        inChangeAccountKind = 1;
        $("#row-AccountType").dxSelectBox({
            dataSource: '/api/icore/LoadAccountTypes?Kind=' + e.value
        });
        $('#row-AccountType').dxSelectBox('reset');
        $("#row-AccountType").dxSelectBox("getDataSource").load().done(function ()
        {
            $('#row-AccountType').dxSelectBox('option', 'value', 0);
        });
        $("#row-Account").dxLookup({
            dataSource: new DevExpress.data.DataSource({
                loadMode: "raw",
                load: function ()
                {
                    return $.getJSON('/api/icore/LoadAccounts?Kind=' + e.value + '&CurrentKind=' + $('#row-AccountType').dxSelectBox('option', 'value'));
                },
                paginate: true,
                pageSize: 50
            })
        });
        $('#row-Account').dxLookup('reset');
        $("#row-Account").dxLookup("getDataSource").load().done(function ()
        {
            if (rowCurrentAccountKey != null)
            {
                $('#row-Account').dxLookup('option', 'value', rowCurrentAccountKey);
            }
        });
        switch (e.value)
        {
            case 0:
                $('#row-AccountType').dxSelectBox('option', 'readOnly', false);
                $('#div-PaymentKind').prop('hidden', false);
                break;
            case 1:
                $('#div-PaymentKind').prop('hidden', true);
                $('#row-AccountType').dxSelectBox('option', 'readOnly', false);
                break;
            default:
                $('#div-PaymentKind').prop('hidden', true);
                $('#row-AccountType').dxSelectBox('option', 'readOnly', true);
                break;
        }
        inChangeAccountKind = 0;
    }
    function ChangeAccountType (e)
    {
        if (inChangeAccountKind == 1)
            return;
        if ($('#row-AccountKind').dxSelectBox('option', 'value') == 0)
        {
            $("#row-Account").dxLookup({
                dataSource: new DevExpress.data.DataSource({
                    loadMode: "raw",
                    load: function ()
                    {
                        return $.getJSON('/api/icore/LoadAccounts?Kind=' + $('#row-AccountKind').dxSelectBox('option', 'value') + '&CurrentKind=' + e.value);
                    },
                    paginate: true,
                    pageSize: 50
                })

            });
            $('#row-Account').dxLookup('reset');
            $("#row-Account").dxLookup("getDataSource").load().done(function ()
            {
                //$('#row-Account').dxLookup('option', 'value', 0);
            });
        }
    }
    function ChangeAccount (e)
    {
        var d = new Date();
        d = $('#frm-VoucherDate').dxDateBox('option', 'value');
        AccountBalance('txt-AccountBalance', e.value, d.toLocaleDateString(), $('#row-AccountKind').dxSelectBox('option', 'value'), $('#row-AccountType').dxSelectBox('option', 'value'));
        if ($('#row-AccountKind').dxSelectBox('option', 'value') == 0)
        {
            if (e.value == vatAccount)
            {
                $('#div-vat').prop('hidden', false);
            } else
            {
                $('#div-vat').prop('hidden', true);
                $('#row-isVAT').dxSelectBox('option', 'value', false);
                var selectedvat = $("#row-vatKey").dxSelectBox('instance');
                selectedvat.getDataSource().load().done(function (res)
                {
                    $('#row-vatKey').dxSelectBox('option', 'value', res[ 0 ].Key);
                });
            }
        } else
        {
            $('#div-vat').prop('hidden', true);
            $('#row-isVAT').dxSelectBox('option', 'value', false);
            var selectedvat = $("#row-vatKey").dxSelectBox('instance');
            selectedvat.getDataSource().load().done(function (res)
            {
                $('#row-vatKey').dxSelectBox('option', 'value', res[ 0 ].Key);
            });
        }
        if (isLoadingDetails == 1)
            return;
        ChangedAccountKey = true;
        $('#row-PaymentKind').dxSelectBox('option', 'value', 0);
    }
    //End Start Operation
    function AddNewRow ()
    {
        TempRowInvoices = [];
        isNewRow = true;
        RowKey = GeneratGuid();
        $('#row-AccountKind').dxSelectBox('option', 'value', 0);
        $('#row-AccountType').dxSelectBox('option', 'value', 0);
        $('#row-Account').dxLookup('reset');
        $('#row-Description').dxTextArea('option', 'value', $('#frm-Description').dxTextArea('option', 'value'));
        $('#row-Currency').dxSelectBox('option', 'value', Currency);
        $('#row-Debit').dxNumberBox('option', 'value', 0);
        $('#row-Credit').dxNumberBox('option', 'value', 0);
        $('#row-isVAT').dxSelectBox('option', 'value', false);
        $('#row-vatKey').dxSelectBox('reset');
        $('#row-CostCenter').dxLookup('reset');
        $('#row-Project').dxLookup('reset');
        $('#row-PaymentKind').dxSelectBox('option', 'value', 0);
        $('#row-CostCenter').dxLookup('option', 'value', $('#frm-CostCenter').dxLookup('option', 'value'));
        $('#row-Project').dxLookup('option', 'value', $('#frm-Project').dxLookup('option', 'value'));
        $('#row-Importation').dxLookup('reset');
        $('#row-Person').dxLookup('reset');
        $('#div-PaymentKind').prop('hidden', false);
        $('#txt-PaymentInvoices').text('The payment out of invoices.');
        $('#btn-SalesInvoice').prop('hidden', true);
        $('#btn-PurchaseInvoice').prop('hidden', true);
        $('#div-vat').prop('hidden', true);
        $('#row-isVAT').dxSelectBox('option', 'value', false);
        var selectedvat = $("#row-vatKey").dxSelectBox('instance');
        selectedvat.getDataSource().load().done(function (res)
        {
            $('#row-vatKey').dxSelectBox('option', 'value', res[ 0 ].Key);
        });
        $("#mod-Row").modal({ backdrop: 'static' }).modal('toggle');
    }
    function SaveRowChange ()
    {
        if ($('#row-Account').dxLookup('option', 'value') == null)
        {
            $.alert({
                title: 'Stop',
                content: "Please select account.",
            });
            $('#row-Account').dxLookup('focus');
            return;
        }
        if ($('#row-Debit').dxNumberBox('option', 'value') == 0 && $('#row-Credit').dxNumberBox('option', 'value') == 0)
        {
            $.alert({
                title: 'Stop',
                content: "Please add debit or credit amount!",
            });

            return;
        }
        if ($('#row-Description').dxTextArea('option', 'value') == '')
        {
            $.alert({
                title: 'Stop',
                content: "Please add description.",
            });
            $('#row-Description').dxTextArea('focus');
            return;
        }
       if ($('#row-AccountKind').dxSelectBox('option', 'value') == 5 || $('#row-AccountKind').dxSelectBox('option', 'value') == 6)
        {
        
            if ($('#row-CostCenter').dxLookup('option', 'value') == null)
            {
                $.alert({
                    title: 'Stop',
                    content: "Please select cost center.",
                });
                return;
            }
        }
        if (isNewRow == true)
        {
            var x = TempRowInvoices.length;
            while (x--)
            {
                CloseInvoices.push({
                    Key: RowKey,
                    InvoiceKey: TempRowInvoices[ x ].InvoiceKey,
                    Amount: TempRowInvoices[ x ].Amount
                });
            }
            InsertNewRow();
        } else
        {
            var x = CloseInvoices.length;
            while (x--)
            {
                if (CloseInvoices[ x ].Key == RowKey)
                {
                    CloseInvoices.splice(x, 1);
                }
            }
            var x = TempRowInvoices.length;
            while (x--)
            {
                CloseInvoices.push({
                    Key: RowKey,
                    InvoiceKey: TempRowInvoices[ x ].InvoiceKey,
                    Amount: TempRowInvoices[ x ].Amount
                });
            }
            SaveRowEdit();
        }
    }
    function InsertNewRow ()
    {
        var selectedAccount = $("#row-Account").dxLookup('instance').option('selectedItem');
        var selectedvat = $("#row-vatKey").dxSelectBox('instance').option('selectedItem');
        var count = $('#tb-rows tr').length + 1;
        var str = '';
        str += '  <tr id="tr-' + count + '" data-key="' + count + '">'
        str += '      <td>'
        str += '          <div class="d-flex align-items-center">'
        str += '              <small style="margin-left:4px;margin-right:4px;min-width:30px;max-width:30px">' + count + '</small>'
        str += '              <div class="btn-group">'
        str += '                  <button id="btn-edit" data-key="' + count + '" type="button" class="btn btn-white btn-sm"><i class="fa fa-pen-square"></i></button>'
        str += '                  <button id="btn-delete" data-key="' + count + '" data-rowkey=' + RowKey + ' type="button" class="btn btn-white btn-sm text-red"><i class="fa fa-trash-alt"></i></button>'
        str += '              </div>'
        str += '          </div>'
        str += '          <div class="ccp position-absolute d-none mt-1">'
        str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">Cost Center:</b>' + $('#row-CostCenter').dxLookup('option', 'text') + '</p>'
        str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">Project:</b>' + $('#row-Project').dxLookup('option', 'text') + '</p>'
        str += '          </div>'
        str += '      </td>'
        str += '      <td>' + GetAccountKind($('#row-AccountKind').dxSelectBox('option', 'value'), $('#row-AccountType').dxSelectBox('option', 'value')) + '</td>'
        str += '      <td><span class="text-dark">' + selectedAccount.Code + '</span></td>'
        str += '      <td>'
        str += '          <span class="text-dark m-e">' + selectedAccount.xName + '</span>'
        str += '      </td>'
        str += '      <td>' + $('#row-Description').dxTextArea('option', 'text') + '</td>'
        str += '      <td>' + comma($('#row-Debit').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Credit').dxNumberBox('option', 'value')) + '</td>'
        str += '<td hidden id="td-Key" data-value="' + RowKey + '"></td>'
        str += '<td hidden id="td-Index" data-value="' + count + '"></td>'
        str += '<td hidden id="td-ReferenceNo" data-value="' + $('#row-ReferenceNo').dxTextBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-ReferenceDate" data-value="' + $('#row-ReferenceDate').dxDateBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-TransactionNo" data-value="' + '' + '"></td>'
        str += '<td hidden id="td-AccountKind" data-value="' + $('#row-AccountKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-AccountType" data-value="' + $('#row-AccountType').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-AccountKey" data-value="' + $('#row-Account').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-CostCenter" data-value="' + $('#row-CostCenter').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-Project" data-value="' + $('#row-Project').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-Person" data-value="' + $('#row-Person').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-Description" data-value="' + $('#row-Description').dxTextArea('option', 'value') + '"></td>'
        str += '<td hidden id="td-Currency" data-value="' + $('#row-Currency').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-vatKey" data-value="' + selectedvat.Key + '"></td>'
        str += '<td hidden id="td-vatRate" data-value="' + selectedvat.Rate + '"></td>'
        str += '<td hidden id="td-vatRegNo" data-value="' + $('#row-vatRegNo').dxTextBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-vatCurrent" data-value="' + $('#row-vatCurrent').dxTextBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Importation" data-value="' + $('#row-Importation').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-ExpensesKind" data-value="' + $('#row-ExpensesKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-PaymentKind" data-value="' + $('#row-PaymentKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Debit" data-value="' + Number(Number($('#row-Debit').dxNumberBox('option', 'value')).toFixed(2)) + '"></td>'
        str += '<td hidden id="td-Credit" data-value="' + Number(Number($('#row-Credit').dxNumberBox('option', 'value')).toFixed(2)) + '"></td>'
        str += '<td hidden id="td-isVAT" data-value="' + $('#row-isVAT').dxSelectBox('option', 'value') + '"></td>'
        str += '  </tr>'
        $("#tb-rows").append(str);
        $("#mod-Row").modal('toggle');
        CalcAmount();
    }
    function SaveRowEdit ()
    {
        var selectedAccount = $("#row-Account").dxLookup('instance').option('selectedItem');
        var selectedvat = $("#row-vatKey").dxSelectBox('instance').option('selectedItem');
        $('#tr-' + currentRow).empty();
        var str = '';
        str += '      <td>'
        str += '          <div class="d-flex align-items-center">'
        str += '              <small style="margin-left:4px;margin-right:4px;min-width:30px;max-width:30px">' + currentRow + '</small>'
        str += '              <div class="btn-group">'
        str += '                  <button id="btn-edit" data-key="' + currentRow + '" type="button" class="btn btn-white btn-sm"><i class="fa fa-pen-square"></i></button>'
        str += '                  <button id="btn-delete" data-key="' + currentRow + '" data-rowkey=' + RowKey + ' type="button" class="btn btn-white btn-sm text-red"><i class="fa fa-trash-alt"></i></button>'
        str += '              </div>'
        str += '          </div>'
        str += '          <div class="ccp position-absolute d-none mt-1">'
        str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">Cost Center:</b>' + $('#row-CostCenter').dxLookup('option', 'text') + '</p>'
        str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">Project:</b>' + $('#row-Project').dxLookup('option', 'text') + '</p>'
        str += '          </div>'
        str += '      </td>'
        str += '      <td>' + GetAccountKind($('#row-AccountKind').dxSelectBox('option', 'value'), $('#row-AccountType').dxSelectBox('option', 'value')) + '</td>'
        str += '      <td><span class="text-dark">' + selectedAccount.Code + '</span></td>'
        str += '      <td>'
        str += '          <span class="text-dark m-e">' + selectedAccount.xName + '</span>'
        str += '      </td>'
        str += '      <td>' + $('#row-Description').dxTextArea('option', 'text') + '</td>'
        str += '      <td>' + comma($('#row-Debit').dxNumberBox('option', 'value')) + '</td>'
        str += '      <td>' + comma($('#row-Credit').dxNumberBox('option', 'value')) + '</td>'
        str += '<td hidden id="td-Key" data-value="' + RowKey + '"></td>'
        str += '<td hidden id="td-Index" data-value="' + currentRow + '"></td>'
        str += '<td hidden id="td-ReferenceNo" data-value="' + $('#row-ReferenceNo').dxTextBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-ReferenceDate" data-value="' + $('#row-ReferenceDate').dxDateBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-TransactionNo" data-value="' + '' + '"></td>'
        str += '<td hidden id="td-AccountKind" data-value="' + $('#row-AccountKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-AccountType" data-value="' + $('#row-AccountType').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-AccountKey" data-value="' + $('#row-Account').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-CostCenter" data-value="' + $('#row-CostCenter').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-Project" data-value="' + $('#row-Project').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-Person" data-value="' + $('#row-Person').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-Description" data-value="' + $('#row-Description').dxTextArea('option', 'value') + '"></td>'
        str += '<td hidden id="td-vatKey" data-value="' + selectedvat.Key + '"></td>'
        str += '<td hidden id="td-vatRate" data-value="' + selectedvat.Rate + '"></td>'
        str += '<td hidden id="td-vatRegNo" data-value="' + $('#row-vatRegNo').dxTextBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-vatCurrent" data-value="' + $('#row-vatCurrent').dxTextBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Importation" data-value="' + $('#row-Importation').dxLookup('option', 'value') + '"></td>'
        str += '<td hidden id="td-ExpensesKind" data-value="' + $('#row-ExpensesKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-PaymentKind" data-value="' + $('#row-PaymentKind').dxSelectBox('option', 'value') + '"></td>'
        str += '<td hidden id="td-Debit" data-value="' + Number(Number($('#row-Debit').dxNumberBox('option', 'value')).toFixed(2)) + '"></td>'
        str += '<td hidden id="td-Credit" data-value="' + Number(Number($('#row-Credit').dxNumberBox('option', 'value')).toFixed(2)) + '"></td>'
        str += '<td hidden id="td-isVAT" data-value="' + $('#row-isVAT').dxSelectBox('option', 'value') + '"></td>'
        $('#tr-' + currentRow).append(str);
        $("#mod-Row").modal('toggle');
        CalcAmount();
    }
    function LoadData (key)
    {
        $.ajax({
            type: "get",
            url: "/api/fin/idocuments/TransactionDetailsJV",
            data: { key: key },
            dataType: "json",
            success: function (response)
            {
                var count = 1;
                for (const item of response)
                {
                    var str = '';
                    str += '  <tr id="tr-' + count + '" data-key="' + count + '">'
                    str += '      <td>'
                    str += '          <div class="d-flex align-items-center">'
                    str += '              <small style="margin-left:4px;margin-right:4px;min-width:30px;max-width:30px">' + count + '</small>'
                    str += '              <div class="btn-group">'
                    str += '                  <button id="btn-edit" data-key="' + count + '" type="button" class="btn btn-white btn-sm"><i class="fa fa-pen-square"></i></button>'
                    str += '                  <button id="btn-delete" data-key="' + count + '" data-rowkey=' + item.Key + ' type="button" class="btn btn-white btn-sm text-red"><i class="fa fa-trash-alt"></i></button>'
                    str += '              </div>'
                    str += '          </div>'
                    str += '          <div class="ccp position-absolute d-none mt-1">'
                    str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">Cost Center:</b>' + item.jnCostCenter.Display + '</p>'
                    str += '              <p class="f-s-10 p-0 m-0 mt-1"><b class="me-1">Project:</b>' + item.jnProject.Display + '</p>'
                    str += '          </div>'
                    str += '      </td>'
                    str += '      <td>' + GetAccountKind(item.AccountKind, item.AccountType) + '</td>'
                    str += '      <td><span class="text-dark">' + item.jnAccount.Code + '</span></td>'
                    str += '      <td>'
                    str += '          <span class="text-dark m-e">' + item.jnAccount.Display + '</span>'
                    str += '      </td>'
                    str += '      <td>' + item.Description + '</td>'
                    str += '      <td>' + comma(item.Debit) + '</td>'
                    str += '      <td>' + comma(item.Credit) + '</td>'
                    str += '<td hidden id="td-Key" data-value="' + item.Key + '"></td>'
                    str += '<td hidden id="td-Index" data-value="' + count + '"></td>'
                    str += '<td hidden id="td-ReferenceNo" data-value="' + item.ReferenceNo + '"></td>'
                    str += '<td hidden id="td-ReferenceDate" data-value="' + item.ReferenceDate + '"></td>'
                    str += '<td hidden id="td-TransactionNo" data-value="' + '' + '"></td>'
                    str += '<td hidden id="td-AccountKind" data-value="' + item.AccountKind + '"></td>'
                    str += '<td hidden id="td-AccountType" data-value="' + item.AccountType + '"></td>'
                    str += '<td hidden id="td-AccountKey" data-value="' + item.AccountKey + '"></td>'
                    str += '<td hidden id="td-CostCenter" data-value="' + item.CostCenter + '"></td>'
                    str += '<td hidden id="td-Project" data-value="' + item.Project + '"></td>'
                    str += '<td hidden id="td-Person" data-value="' + item.Person + '"></td>'
                    str += '<td hidden id="td-Description" data-value="' + item.Description + '"></td>'
                    str += '<td hidden id="td-Currency" data-value="' + item.Currency + '"></td>'
                    str += '<td hidden id="td-Amount" data-value="' + item.Amount + '"></td>'
                    str += '<td hidden id="td-vatKey" data-value="' + item.vatKey + '"></td>'
                    str += '<td hidden id="td-vatRate" data-value="' + item.vatRate + '"></td>'
                    str += '<td hidden id="td-vatAmount" data-value="' + item.vatAmount + '"></td>'
                    str += '<td hidden id="td-Total" data-value="' + item.Total + '"></td>'
                    str += '<td hidden id="td-vatRegNo" data-value="' + item.vatRegNo + '"></td>'
                    str += '<td hidden id="td-vatCurrent" data-value="' + item.vatCurrent + '"></td>'
                    str += '<td hidden id="td-Importation" data-value="' + item.Importation + '"></td>'
                    str += '<td hidden id="td-ExpensesKind" data-value="' + item.ExpensesKind + '"></td>'
                    str += '<td hidden id="td-PaymentKind" data-value="' + item.PaymentKind + '"></td>'
                    str += '<td hidden id="td-Debit" data-value="' + item.Debit + '"></td>'
                    str += '<td hidden id="td-Credit" data-value="' + item.Credit + '"></td>'
                    str += '<td hidden id="td-isVAT" data-value="' + item.isVAT + '"></td>'
                    str += '  </tr>'
                    $("#tb-rows").append(str);
                    count += 1;
                }
                CalcAmount();
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
    }
    function LoadCloseInvoices ()
    {
        if (opk == null)
            return;
        $.ajax({
            type: "get",
            url: "/api/fin/idocuments/TransactionCloseInvoices",
            data: { Key: opk },
            dataType: "json",
            success: function (response)
            {
                CloseInvoices = response;
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
    }
    function DeleteRow (key, rowkey)
    {
        $.confirm({
            title: 'Confirm',
            content: 'Are you sure to delete row?',
            type: 'red',
            buttons: {
                Delete: {
                    text: 'Delete',
                    btnClass: 'btn-red',
                    action: function ()
                    {
                        $('#tr-' + key).remove();
                        var x = CloseInvoices.length;
                        while (x--)
                        {
                            if (CloseInvoices[ x ].Key == rowkey)
                            {
                                CloseInvoices.splice(x, 1);
                            }
                        }
                        CalcAmount();
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    action: function ()
                    {
                        return;
                    }
                }
            }
        });
    }
    function CalcAmount ()
    {
        var db = 0;
        var cr = 0;
        $('#tb-rows').find('tr').each(function ()
        {
            db += $(this).find('[id="td-Debit"]').data('value');
            cr += $(this).find('[id="td-Credit"]').data('value');
        });
        $('#txt-Diff').text(comma(db - cr));
        $('#txt-Debit').text(comma(db));
        $('#txt-Credit').text(comma(cr));
        $('#txt-xTotal').text(comma(db));
        $('#txt-xDiff').text(comma(db - cr));
        $('#txt-xDebit').text(comma(db));
        $('#txt-xCredit').text(comma(cr));

    }
    function GetAccountKind (kind, Type)
    {
        var strKind = '';
        var strType = '';
        switch (kind)
        {
            case 0:
                strKind = '<span  class="badge bg-yellow text-dark badg-plx me-1">' + 'C/A' + '</span>';
                break;
            case 1:
                strKind = '<span  class="badge bg-danger text-dark badg-plx me-1">' + 'Employee' + '</span>';
                break;
            case 2:
                strKind = '<span  class="badge bg-info text-dark badg-plx me-1">' + 'Cash' + '</span>';
                break;
            case 3:
                strKind = '<span  class="badge bg-success text-dark badg-plx me-1">' + 'Bank' + '</span>';
                break;
            case 4:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Fixture' + '</span>';
                break;
            case 5:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Revenue' + '</span>';
                break;
            case 6:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Expenses' + '</span>';
                break;
            case 7:
                strKind = '<span  class="badge bg-warning text-dark badg-plx me-1">' + 'Account' + '</span>';
                break;
        }
        switch (kind)
        {
            case 0:
                switch (Type)
                {
                    case 0:
                        strType = '<span class="badge bg-yellow text-dark badg-plx">' + 'General' + '</span>';
                        break;
                    case 1:
                        strType = '<span class="badge bg-info text-dark badg-plx">' + 'Supplier' + '</span>';
                        break;
                    case 2:
                        strType = '<span class="badge bg-success text-dark badg-plx">' + 'Client' + '</span>';
                        break;
                    case 3:
                        strType = '<span class="badge bg-dark text-dark badg-plx">' + 'Employee' + '</span>';
                        break;
                    case 4:
                        strType = '<span class="badge bg-danger text-dark badg-plx">' + 'Owner' + '</span>';
                        break;
                    case 5:
                        strType = '<span class="badge bg-info text-dark badg-plx">' + 'Sister/C' + '</span>';
                        break;
                    case 6:
                        strType = '<span class="badge bg-danger text-dark badg-plx">' + 'Adj.' + '</span>';
                        break;
                }
                break
            case 1:
                switch (Type)
                {
                    case 0:
                        strType = '<span class="badge bg-success text-dark badg-plx">' + 'Salary' + '</span>';
                        break;
                    case 1:
                        strType = '<span class="badge bg-info text-dark badg-plx">' + 'Advance' + '</span>';
                        break;
                    case 2:
                        strType = '<span class="badge bg-dark text-dark badg-plx">' + 'Loan' + '</span>';
                        break;
                    case 3:
                        strType = '<span class="badge bg-danger text-dark badg-plx">' + 'End Serv.' + '</span>';
                        break;
                    case 4:
                        strType = '<span class="badge bg-danger text-dark badg-plx">' + 'Vacation' + '</span>';
                        break;
                }
                break
            case 2:
                strType = '<span class="badge bg-gray  badg-plx">' + 'General' + '</span>';
                break;
            case 3:
                strType = '<span class="badge bg-gray  badg-plx">' + 'General' + '</span>';
                break;
            case 4:
                strType = '<span class="badge bg-gray badg-plx">' + 'General' + '</span>';
                break;
            case 5:
                strType = '<span class="badge bg-gray badg-plx">' + 'General' + '</span>';
                break;
            case 6:
                strType = '<span class="badge bg-gray badg-plx">' + 'General' + '</span>';
                break;
            case 7:
                strType = '<span class="badge bg-gray badg-plx">' + 'General' + '</span>';
                break;
        }
        return '<div class="d-flex">' + strKind + strType + '</div>'
    }
    function ValidateSave ()
    {
        if (VoucherStatus == false)
        {
            if (SlipStatus != 3)
            {
                $.alert({
                    title: 'Stop',
                    icon: 'fa fa-warning',
                    type: 'red',
                    content: 'You can not edit document until status be re-audit!',
                    buttons: {
                        Ok: {
                            text: 'ok'
                        }
                    }
                });
                return false;
            }
        }
        var rowscount = $('#tb-rows tr').length;
        if (rowscount == 0)
        {
            $.alert({
                title: 'Stop',
                icon: 'fa fa-warning',
                type: 'red',
                content: 'There is no data in General Ledger!',
                buttons: {
                    Ok: {
                        text: 'ok'
                    }
                }
            });
            return false;
        }
        var db = 0;
        var cr = 0;
        $('#tb-rows').find('tr').each(function ()
        {
            db += Number(Number($(this).find('[id="td-Debit"]').data('value')).toFixed(2));
            cr += Number(Number($(this).find('[id="td-Credit"]').data('value')).toFixed(2));
        });
        if ((Number(db.toFixed(2)) != Number(cr.toFixed(2))))
        {
            $.alert({
                title: 'Stop',
                icon: 'fa fa-warning',
                type: 'red',
                content: 'There is difference between debit and credit,Difference is : ' + comma(db - cr),
                buttons: {
                    Ok: {
                        text: 'ok'
                    }
                }
            });
            return false;
        }
        if ($('#frm-Description').dxTextArea('option', 'text') == '')
        {
            $.alert({
                title: 'Stop',
                icon: 'fa fa-warning',
                type: 'red',
                content: 'Please add GL description!',
                buttons: {
                    Ok: {
                        text: 'ok'
                    }
                }
            });
            return false;
        }
        return true;
    }
    function SaveGeneralLedger ()
    {
        if (ValidateSave() == false)
        {
            return;
        }

        if (InPosting == true)
        {
            return;
        }

        $.confirm({
            title: 'Confirm',
            content: 'Save/update Journal Voucher confirmation?',
            type: 'red',
            buttons: {
                Delete: {
                    text: 'Save/Update',
                    btnClass: 'btn-red',
                    action: function ()
                    {
                          if (InPosting == true)
                            return;

                          InPosting=true;
                          $('.PLSave').prop('disabled',true);

                        //Start Update
                        var values = [];
                        $('#tb-rows').find('tr').each(function ()
                        {
                            var d = new Date($(this).find('[id="td-ReferenceDate"]').data('value'));
                            //d.setDate(d.getDate() + 1);
                            if (d.getFullYear() < 2000)
                            {
                                d = null;
                            }
                            values.push({
                                Key: $(this).find('[id="td-Key"]').data('value'),
                                Index: $(this).find('[id="td-Index"]').data('value'),
                                ReferenceNo: $(this).find('[id="td-ReferenceNo"]').data('value'),
                                ReferenceDate: d,
                                TransactionNo: $(this).find('[id="td-TransactionNo"]').data('value'),
                                AccountKind: $(this).find('[id="td-AccountKind"]').data('value'),
                                AccountType: $(this).find('[id="td-AccountType"]').data('value'),
                                AccountKey: $(this).find('[id="td-AccountKey"]').data('value'),
                                CostCenter: $(this).find('[id="td-CostCenter"]').data('value'),
                                Project: $(this).find('[id="td-Project"]').data('value'),
                                Person: $(this).find('[id="td-Person"]').data('value'),
                                Description: $(this).find('[id="td-Description"]').data('value'),
                                vatKey: $(this).find('[id="td-vatKey"]').data('value'),
                                vatRate: $(this).find('[id="td-vatRate"]').data('value'),
                                vatRegNo: $(this).find('[id="td-vatRegNo"]').data('value'),
                                vatCurrent: $(this).find('[id="td-vatCurrent"]').data('value'),
                                Importation: $(this).find('[id="td-Importation"]').data('value'),
                                ExpensesKind: $(this).find('[id="td-ExpensesKind"]').data('value'),
                                PaymentKind: $(this).find('[id="td-PaymentKind"]').data('value'),
                                Debit: $(this).find('[id="td-Debit"]').data('value'),
                                Credit: $(this).find('[id="td-Credit"]').data('value'),
                                isVAT: $(this).find('[id="td-isVAT"]').data('value'),
                            });
                        });
                        var voucher = $('#frm-Voucher').serialize();
                        $.ajax({
                            type: "post",
                            url: "/api/fin/idocuments/UpdateJournalVoucher",
                            data: voucher + '&Data=' + JSON.stringify(values) + '&isNew=' + VoucherStatus,
                            dataType: "json",
                            success: function (response)
                            {
                                if (response.Status == true)
                                {
                                    exDocumentError(response);
                                    InPosting=false;
                                    return;
                                }
                                $('#No').text(response.VoucherNo);
                                $('#OperationKey').val(response.OperationKey);
                                $('#inf-Status').removeClass('bg-info');
                                $('#inf-Status').addClass('bg-danger');
                                $('#txt-Status').text(iShll.update);
                                opk = response.OperationKey;
                                VoucherStatus = false;
                                PrintDocument();
                                InPosting=false;
                                $('.PLSave').prop('disabled',false);

                            },
                            failure: function (response)
                            {
                                alert(response);
                            },
                            error: function (response)
                            {
                                alert(response.responseText);
                            }
                        });
                        //End Update
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    action: function ()
                    {
                        $('.PLSave').prop('disabled', false);
                        return;
                    }
                }
            }
        });
    }
    //Calc
    var IsLoading = 0;
    function ChangeDebit ()
    {
        if (clcDebitCredit == 1)
        {
            return;
        }
        clcDebitCredit = 1;
        $('#row-Credit').dxNumberBox('option', 'value', 0);
        clcDebitCredit = 0;
    }
    function ChangeCredit ()
    {
        if (clcDebitCredit == 1)
        {
            return;
        }
        clcDebitCredit = 1;
        $('#row-Debit').dxNumberBox('option', 'value', 0);
        clcDebitCredit = 0;
    }
    function ct4xAmount (element, info)
    {
        element.append('<div>' + info.text + '</div>').css('background-color', '#F2D498');
    }
    function ct4TotalRem (element, info)
    {
        element.append('<div>' + info.text + '</div>').css('background-color', '#FE5F3D');
    }
    function ShowAgesInvoices (docKind)
    {
        clsDocumentKind = docKind;
        if ($('#row-AccountKind').dxSelectBox('option', 'value') != 0)
            return;
        $('#con-AgesInvoices').empty();
        $("#con-AgesInvoices").load('/Financial/Selections/AgesInvoices?Key=' + $("#row-Account").dxLookup('option', 'value') + '&DocumentKind=' + docKind);
        $("#mod-AgesInvoices").modal({ backdrop: 'static' }).modal('toggle');
    }
    function cta4AgesCloseInvoices (container, options)
    {
        $('<div>').appendTo(container).dxMenu({
            items: [ {
                icon: "selectall"
            } ],
            showFirstSubmenuMode: 'onClick',
            hideSubmenuOnMouseLeave: false,
            onItemClick: function (e)
            {
                var grdAgesInvoices = $('#grd-AgesCloseInvoices').dxDataGrid("instance");
                grdAgesInvoices.cellValue(options.rowIndex, 'xAmount', options.data.TotalRem);
                grdAgesInvoices.saveEditData();
            },
        });
    }
    function SelectRowAgesInvoice (e)
    {
        var grd = $('#grd-AgesCloseInvoices').dxDataGrid("instance");
        grd.selectRows(e.key, true);
    }
    function SaveInvoices ()
    {
        TempRowInvoices = [];
        TempRowInvoices.splice(0, TempRowInvoices.length);
        //var x = CloseInvoices.length;
        //while (x--) {
        //    if (CloseInvoices[x].Key == RowKey) {
        //        CloseInvoices.splice(x, 1);
        //    }
        //}
        var amount = 0;
        var clsRows = 0;
        var grdAgesInvoices = $('#grd-AgesCloseInvoices').dxDataGrid("instance");
        grdAgesInvoices.selectRows(grdAgesInvoices.getSelectedRowKeys(), true).done(function ()
        {
            grdAgesInvoices.saveEditData().done(function ()
            {
                var selectedRowsData = grdAgesInvoices.getSelectedRowsData();
                for (const item of selectedRowsData)
                {
                    if (item.xAmount > 0)
                    {
                        TempRowInvoices.push({
                            Key: RowKey,
                            InvoiceKey: item.OperationKey,
                            Amount: item.xAmount
                        });
                        amount += item.xAmount;
                        clsRows += 1;
                    }
                }
            });
        })
        $('#txt-PaymentInvoices').text('This payment incloud ' + clsRows + ' Invoices,Amount is: ' + comma(amount));
        if (clsDocumentKind == 80)
        {
            $('#row-Debit').dxNumberBox('option', 'value', 0);
            $('#row-Credit').dxNumberBox('option', 'value', amount);
        }
        if (clsDocumentKind == 71)
        {
            $('#row-Debit').dxNumberBox('option', 'value', amount);
            $('#row-Credit').dxNumberBox('option', 'value', 0);
        }
        $('#row-Debit').dxNumberBox('option', 'readOnly', true);
        $('#row-Credit').dxNumberBox('option', 'readOnly', true);
        $("#mod-AgesInvoices").modal('toggle');
    }
    function ChangePaymentKind (e)
    {
        switch (e.value)
        {
            case 0:
                $('#btn-SalesInvoice').prop('hidden', true);
                $('#btn-PurchaseInvoice').prop('hidden', true);
                $('#row-Debit').dxNumberBox('option', 'readOnly', false);
                $('#row-Credit').dxNumberBox('option', 'readOnly', false);
                $('#txt-PaymentInvoices').text('The payment out of invoices.');
                TempRowInvoices = [];
                TempRowInvoices.splice(0, TempRowInvoices.length);
                break;
            case 1:
                $('#btn-SalesInvoice').prop('hidden', false);
                $('#btn-PurchaseInvoice').prop('hidden', false);
                $('#row-Debit').dxNumberBox('option', 'readOnly', true);
                $('#row-Credit').dxNumberBox('option', 'readOnly', true);
                $('#txt-PaymentInvoices').text('Please select invoices.');
                if (ChangedAccountKey == false)
                {
                    var clsRows = 0;
                    var clsAmount = 0;
                    TempRowInvoices = [];
                    TempRowInvoices.splice(0, TempRowInvoices.length);
                    for (const item of RowInvoices)
                    {
                        if (item.Key == RowKey)
                        {
                            clsRows += 1;
                            clsAmount += item.Amount;
                            TempRowInvoices.push({
                                Key: RowKey,
                                InvoiceKey: item.InvoiceKey,
                                Amount: item.Amount
                            });
                        }
                    }
                    if (clsAmount > 0)
                    {
                        $('#txt-PaymentInvoices').text('This payment incloud ' + clsRows + ' Invoices,Amount is: ' + comma(clsAmount));
                    } else
                    {
                        $('#txt-PaymentInvoices').text('The payment out of invoices.');
                    }
                } else
                {
                    TempRowInvoices = [];
                    TempRowInvoices.splice(0, TempRowInvoices.length);
                }
                break;
            case 2:
                $('#btn-SalesInvoice').prop('hidden', true);
                $('#btn-PurchaseInvoice').prop('hidden', true);
                $('#row-Debit').dxNumberBox('option', 'readOnly', false);
                $('#row-Credit').dxNumberBox('option', 'readOnly', false);
                $('#txt-PaymentInvoices').text('The payment out of invoices.');
                TempRowInvoices = [];
                TempRowInvoices.splice(0, TempRowInvoices.length);
                break;
        }
    }

    function GetMonthlyNo ()
    {
        var d = new Date();
        d = $('#frm-VoucherDate').dxDateBox('option', 'value');
        $.ajax({
            type: "get",
            url: "/api/icore/MaxMonthlyVoucher",
            data: { DocumentKind: 9, Year: d.getFullYear(), Month: d.getMonth() + 1 },
            dataType: "json",
            success: function (response)
            {
                $('#txt-MonthlyNo').text(response);
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
    }
    function PrintDocument ()
    {
        FinancialPrintTemplates(9, opk);
    }
    function ShowCopy(){
        $('#con-Copy').empty();
        $("#con-Copy").load('/Selections/JournalVoucher');
        $("#mod-Copy").modal({ backdrop: 'static' }).modal('toggle');
    }
     function cta4Copy (container, options)
    {
        $('<div>').appendTo(container).dxMenu({
            items: [ {
                icon: "selectall"
            } ],
            showFirstSubmenuMode: 'onClick',
            hideSubmenuOnMouseLeave: false,
            onItemClick: function (e)
            {
                LoadData(options.data.OperationKey);
              //if($('#frm-Description').dxTextArea('option','value')==''){
                    $('#frm-Description').dxTextArea('option', 'value', options.data.Description);
          //}
                $("#mod-Copy").modal('toggle');
            },
        });
    }
</script>