@model CLiInventory.Cards.StockItem
@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");

        bool devRtl;
    DevExtreme.AspNet.Mvc.HorizontalEdge devFixd;
    if (User.FindFirstValue("aiwLan") == "en")
    {
        devRtl = false;
        devFixd = HorizontalEdge.Left;
    }
    else
    {
        devRtl = true;
        devFixd = HorizontalEdge.Right;
    }

}
  <style>
      .checkbold{
          font-weight:600;
      }
  </style>
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@iT.T(xLan,"1584","Stock Item Details")</h4>
    </div>
    <form id="frm-StockItem" data-parsley-validate="true">
        <div class="modal-body">
            @Html.HiddenFor(m => m.Key)
            @{
                if (Model.Key != null)
                {
                            <div class="xkey text-gray">@iT.T(xLan,"1299","Key"): @Model.Key</div>
                }
            }
            <ul class="nav nav-pills mb-2">
                <li class="nav-item">
                    <a href="#nav-pills-tab-1" data-bs-toggle="tab" class="nav-link active">
                        <span class="d-sm-none">@iT.T(xLan,"1308","General")</span>
                        <span class="d-sm-block d-none">@iT.T(xLan,"1308","General")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#nav-pills-tab-2" data-bs-toggle="tab" class="nav-link">
                        <span class="d-sm-none">@iT.T(xLan,"1187","Price")</span>
                        <span class="d-sm-block d-none">@iT.T(xLan,"1187","Price")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#nav-pills-tab-3" data-bs-toggle="tab" class="nav-link">
                        <span class="d-sm-none">@iT.T(xLan,"1585","Properties")</span>
                        <span class="d-sm-block d-none">@iT.T(xLan,"1585","Properties")</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content p-3 rounded-top panel rounded-0 m-0">
                <div class="tab-pane fade active show" id="nav-pills-tab-1">
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1162","Category")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().LookupFor(m => m.Category).ID("cnt-Category").InputAttr("required", true).DataSource(CLiInventory.Selections.Categories.GetList(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1164","Code")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m => m.Code).ID("cnt-Code").InputAttr("required", true)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1586","Item Name")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m => m.Name1).ID("cnt-Name1").InputAttr("required", true)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1166","English Name")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m => m.Name2).ID("cnt-Name2")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1587","Unit")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().SelectBoxFor(m => m.Unit).ID("cnt-Unit").Width(120).InputAttr("required", true).DataSource(CLiInventory.Selections.Unit.GetList(DB,xLan)).ValueExpr("Code").DisplayExpr("Code")
                            <div class="me-3 mt-2">
                                <div class="form-group row">
                                    <div class="col-lg-9 col-sm-12">
                                        @Html.DevExtreme().CheckBoxFor(m => m.EnablePart).ID("cnt-EnablePart").Text(iT.T(xLan,"1588","Enable Part"))
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1589","Part Name")</label>
                                    <div class="col-lg-9 col-sm-12">
                                        @Html.DevExtreme().TextBoxFor(m => m.PartName).ID("cnt-PartName").Width(120)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1590","Part Rate")</label>
                                    <div class="col-lg-9 col-sm-12">
                                        @Html.DevExtreme().NumberBoxFor(m => m.PartRate).ID("cnt-PartRate").Width(120).Format("0,###.##")
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1591","Part Price")</label>
                                    <div class="col-lg-9 col-sm-12">
                                        @Html.DevExtreme().NumberBoxFor(m => m.PartPrice).ID("cnt-PartPrice").Width(120).Format("0,###.##")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1423","Barcode")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m => m.Barcode).ID("cnt-Barcode")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1592","Main Supplier")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().LookupFor(m => m.Supplier).ID("cnt-Supplier").DataSource(CLiFinancial.Selections.Dynamic.TransactionAccount(DB,xLan, PLenums.TransactionAccount.CurrentAccount, PLenums.CurrentAccountKind.Supplier)).ValueExpr("Key").DisplayExpr("Display")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12"></label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().CheckBoxFor(m => m.Favorite).ID("cnt-Favorite").Text(iT.T(xLan,"1593","Favorite"))
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12"></label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().CheckBoxFor(m => m.EnableBatch).ID("cnt-EnableBatch").Text(iT.T(xLan,"1425","Enable Batch"))
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12"></label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().CheckBoxFor(m => m.EnablePkg).ID("cnt-EnablePkg").Text(iT.T(xLan,"1596","Enable Pkg"))
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-lg-3 col-sm-12"></label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().CheckBoxFor(m => m.EnableApplication).ID("cnt-EnableApplication").Text(iT.T(xLan,"1598","Open Application Sales")).ElementAttr("class","checkbold")
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3 col-sm-12 mt-1">@iT.T(xLan,"1282","Status")</div>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().SwitchFor(m => m.Disable).ID("cnt-Disable").Width(65).SwitchedOnText("Disable").SwitchedOffText("Active")
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-pills-tab-2">
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1599","Standard Cost")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Cost).ID("cnt-Cost").Width(140).ShowSpinButtons(true).Format("0,###.####")
                            <div class="alert alert-yellow mt-1  mb-2 p-1 rounded-1">
                                Please add the correct cost for the item because it is used in calculating the cost in sales invoices
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1324","Sales Price")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Price).ID("cnt-Price").Width(140).ShowSpinButtons(true).Format("0,###.##")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1977","vatKey")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().SelectBoxFor(m => m.vatKey).ID("cnt-vatKey").Width(140).DataSource(CLiFinancial.Selections.vatRate.vatRates(DB,xLan)).ValueExpr("Key").DisplayExpr("Display")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1103","Sales Total")</label>
                        <div class="col-lg-9 col-sm-12">
                            <div class="input-group">
                                @Html.DevExtreme().NumberBoxFor(m => m.Total).ID("cnt-Total").Width(140).ShowSpinButtons(true).Format("0,###.##")
                                <button type="button" class="btn btn-white f-s-10" onclick="RefelectAmount()">@iT.T(xLan, "1326","Reflect Amount")</button>
                            </div>
                        </div>
                    </div>
                    <hr class="m-2 p-0" />
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1600","Max Level")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Max).ID("cnt-Max").Width(140).ShowSpinButtons(true).Format("0,###.##")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1601","Min Level")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Min).ID("cnt-Min").Width(140).ShowSpinButtons(true).Format("0,###.##")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1602","Target Level")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Target).ID("cnt-Target").Width(140).ShowSpinButtons(true).Format("0,###.##")
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1603","Weight")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Weight).ID("cnt-Weight").Width(140).ShowSpinButtons(true).Format("0,###.##")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1604","Width")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Width).ID("cnt-Width").Width(140).ShowSpinButtons(true).Format("0,###.##")
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-sm-12">@iT.T(xLan,"1605","Thickness")</label>
                        <div class="col-lg-9 col-sm-12">
                            @Html.DevExtreme().NumberBoxFor(m => m.Thickness).ID("cnt-Thickness").Width(140).ShowSpinButtons(true).Format("0,###.##")
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-pills-tab-3">
                    <div>
                        @(Html.DevExtreme().DataGrid<CLiInventory.Cards.Stock.StockCodes>().ID("grd-StockCodes")
                            .ShowBorders(true).Width("100%")
                            .DataSource(d => d.WebApi()
                            .Controller("icards").Area("Inventory")
                            .Key("Key")
                            .LoadAction("StockCodes").LoadParams(new { Key = Model.Key })
                            .DeleteAction("DeleteStockCodes").InsertAction("InsertStockCodes").UpdateAction("UpdateStockCodes").OnBeforeSend("CodesBeforeSend"))
                            .Editing(ed =>
                            {
                                ed.AllowAdding(true);
                                ed.AllowUpdating(true);
                                ed.AllowDeleting(true);
                                ed.UseIcons(true);
                            })
                            .ColumnAutoWidth(true)
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.Code).Caption(iT.T(xLan, "", "Item Codes"));
                            })
                            .RowAlternationEnabled(true)
                            .RtlEnabled(devRtl)
                            )
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-yellow text-dark">@iT.T(xLan,"1197","Save Change")</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"1198","Cancel")</button>
            </div>
        </div>
    </form>
</div>
<script class="append-on-ajax-script">
  
    $(document).ready(function() {
    
        $("#frm-StockItem").submit(function(event) {
            event.preventDefault();
            SaveAccount();
        });
        $('#cnt-Category').dxLookup({
            onValueChanged: function(e) {
                var selectedAccount = $("#cnt-Category").dxLookup('instance').option('selectedItem');
                ParentDetails(e.value, selectedAccount.Prefix);
            }
        });
    });
    function SaveAccount() {
        if ($('#cnt-Code').dxTextBox('option', 'text') == "") {
            alert('Please enter Code!');
            return;
        }
        if ($('#cnt-Name1').dxTextBox('option', 'text') == "") {
            alert('Please enter name (Display) !');
            return;
        }
        var data = $('#frm-StockItem').serialize();
        $.ajax({
            type: "POST",
            url: "/api/inv/icards/UpdateStockItem",
            data: data,
            dataType: "json",
            success: function(response) {
                $("#mod-StockItem").modal('toggle');
                RefreshGrid();
            },
            failure: function(response) {
                alert(response);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }
    function ParentDetails(Key, Prefix) {
        $.ajax({
            type: "get",
            url: "/api/inv/icards/ItemCode",
            data: { Key: Key, Prefix: Prefix },
            dataType: "json",
            success: function(res) {
                $('#cnt-Code').dxTextBox('option', 'value', res);
            },
            failure: function(response) {
                alert(response);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }
    function RefelectAmount() {
        var vatrates = $("#cnt-vatKey").dxSelectBox('instance').option('selectedItem');
        var Price = 0;
        var vatRate = 0;
        var Total = 0;
        Total = $('#cnt-Total').dxNumberBox('option', 'value');
        vatRate = vatrates.Rate;
        Price = Number(Number((Total * 100) / (100 + vatRate)).toFixed(4));
        $('#cnt-Price').dxNumberBox('option', 'value', Price);
    }
</script>
