@model CLiCore.Print.PrintDetails

@{
    string xLan = User.FindFirstValue("aiwLan");
    Guid UserKey = Guid.Parse(User.FindFirstValue("Key"));
    string DB = User.FindFirstValue("aiwDB");
}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@iT.T(xLan,"2320","Print Template")</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
        <form id="frmPrintDetails" target="_blank" action="/Print/Documents/PrintProformaInvoice">
            @Html.HiddenFor(m=>m.Template)
            @Html.HiddenFor(m=>m.OperationKey)

            <div class="p-2">
                <p class="f-s-12 f-w-500">@iT.T(xLan,"2414","This information is used for some custom print templates only")</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row mt-2">
                        <label class="col-lg-4 col-sm-12 ">@iT.T(xLan,"2415","Bank Name")</label>
                        <div class="col-lg-8 col-sm-12">
                            @Html.DevExtreme().SelectBoxFor(m=>m.Bank).ID("ec-Bank").DataSource(CLiFinancial.Selections.Dynamic.TransactionAccount(DB,xLan,PLenums.TransactionAccount.Bank)).ValueExpr("Key").DisplayExpr("Display").ShowClearButton(true)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group row mt-2">
                        <label class="col-lg-4 col-sm-12 ">@iT.T(xLan,"2416","ar Signature")</label>
                        <div class="col-lg-8 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m=>m.arSignature).ID("ec-arSignature")
                        </div>
                    </div>
                    <div class="form-group row mt-2" hidden>
                        <label class="col-lg-4 col-sm-12 ">@iT.T(xLan,"2417","en Signature")</label>
                        <div class="col-lg-8 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m=>m.enSignature).ID("ec-enSignature")
                        </div>
                    </div>
                    <div class="form-group row mt-2" hidden>
                        <label class="col-lg-4 col-sm-12 ">@iT.T(xLan,"2418","Postion")</label>
                        <div class="col-lg-8 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m=>m.SigPostion).ID("ec-SigPostion")
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row mt-2">
                        <label class="col-lg-4 col-sm-12 ">@iT.T(xLan,"2419","ar Appro.")</label>
                        <div class="col-lg-8 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m=>m.arApproved).ID("ec-arApproved")
                        </div>
                    </div>
                    <div class="form-group row mt-2" hidden>
                        <label class="col-lg-4 col-sm-12 ">@iT.T(xLan,"2420","en Appro.")</label>
                        <div class="col-lg-8 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m=>m.enApproved).ID("ec-enApproved")
                        </div>
                    </div>
                    <div class="form-group row mt-2" hidden>
                        <label class="col-lg-4 col-sm-12 ">@iT.T(xLan,"2418","Postion")</label>
                        <div class="col-lg-8 col-sm-12">
                            @Html.DevExtreme().TextBoxFor(m=>m.AppPostion).ID("ec-AppPostion")
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row m-t-15">
            <div class="col-12">

                <div class="table-responsive" style="min-height:150px;">
                    <table class="table table-invoice table-hover">
                        <thead>
                            <tr>
                                <th style="width:100px;max-width:100px">No</th>
                                <th style="width:100%;min-width:100px;">Template</th>
                                <th style="width:120px;min-width:120px;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tb-PrintPreview"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"1242","Close")</button>
        </div>
    </div>
</div>



<script>
    var dockind = 0;
    var key = null;
    $(document).ready(function () {
        dockind = Number('@ViewBag.DocKind');
        key = '@ViewBag.Key';
        GetData();
        $('#tb-PrintPreview').on('click', '#btn-Print', function ()
        {
            PostPrint($(this).data('template'));
        });
    });
 
 
    function GetData ()
    {
        $.ajax({
            type: "Get",
            url: "/api/icore/PrintTemplates",
            data: { DocKind: dockind },
            dataType: "json",
            success: function (response)
            {
                $('#tb-PrintPreview').empty();
                for (const item of response)
                {
                    var str = '';
                    str += '  <tr id="' + item.RecNo + '">'
                    str += '     <td>' + item.No + '</td>'
                    str += '     <td>' + item.Name + '</td>'
                    str += '    <td>'
                    str += '        <div class="text-center">'
                    str += '            <button id="btn-Print" class="btn btn-small btn-yellow text-dark" data-template="' + item.FileName + '">' + 'Print Preview' + '</button>'
                    str += '        </div>'
                    str += '    </td>'
                    str += '  </tr>'
                    $('#tb-PrintPreview').append(str)
                }
            },
            failure: function (response)
            {
                alert(response)
            },
            error: function (response)
            {
                alert(response.responseText)
            }
        });
    }
        function PostPrint(Template) {
       $('#Template').val(Template);
       $('#frmPrintDetails').submit();
    }
</script>