@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@iT.T(xLan,"2586","Change User Password")</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    </div>

    <div class="modal-body">
        <div class="p-1">
            <p class="f-s-10 text-dark p-1 m-1">To change your password please enter current password,New password must be more than 7 character</p>
        </div>
        <hr class="m-1" />
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12">@iT.T(xLan,"2587","Current Password")</label>
            <div class="col-lg-8 col-sm-12">
                @Html.DevExtreme().TextBox().ID("cnt-CurrentPassword").Mode(TextBoxMode.Password).InputAttr("required", true)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12">@iT.T(xLan,"2588","New Password")</label>
            <div class="col-lg-8 col-sm-12">
                @Html.DevExtreme().TextBox().ID("cnt-Password").Mode(TextBoxMode.Password)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-sm-12">@iT.T(xLan,"2589","Confirm New Password")</label>
            <div class="col-lg-8 col-sm-12">
                @Html.DevExtreme().TextBox().ID("cnt-ConfirmPassword").Mode(TextBoxMode.Password)
            </div>
        </div>
        <div class="form-group row m-t-3">
            <label class="col-lg-4 col-sm-12"></label>
            <div class="col-lg-8 col-sm-12">
                <p id="txt-Message" class="text-red f-s-10"></p>
            </div>
        </div>
      
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-danger" onclick="ChangePassword()">@iT.T(xLan,"2590","Change Password")</button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">@iT.T(xLan,"1198","Cancel")</button>
        </div>
    </div>

</div>
<script class="append-on-ajax-script">

    $(document).ready(function ()
    {
        $('#cnt-CurrentPassword').dxTextBox({
            onValueChanged: function (e)
            {
                $('#txt-Message').text('');
            }
        });
        $('#cnt-Password').dxTextBox({
            onValueChanged: function (e)
            {
                $('#txt-Message').text('');
            }
        });
        $('#cnt-ConfirmPassword').dxTextBox({
            onValueChanged: function (e)
            {
                $('#txt-Message').text('');
            }
        });
    });


    function ChangePassword ()
    {
        if ($('#cnt-CurrentPassword').dxTextBox('option', 'text') == "")
        {
            $('#txt-Message').text('Please enter current password');
            return;
        }
        if ($('#cnt-Password').dxTextBox('option', 'text') == "")
        {
            $('#txt-Message').text('Please enter new password');
            return;
        }
        if ($('#cnt-Password').dxTextBox('option', 'text') != $('#cnt-ConfirmPassword').dxTextBox('option', 'text'))
        {
            $('#txt-Message').text('Password not matching new password');
            return;
        }
        $.ajax({
            type: "post",
            url: "/api/icore/CheckPassword",
            data: { Password: $('#cnt-CurrentPassword').dxTextBox('option', 'text') },
            dataType: "json",
            success: function (response)
            {
                if (response == false)
                {
                    $('#txt-Message').text('The current password does not match');
                    return;
                }

                $.ajax({
                    type: "post",
                    url: "/api/icore/ChangePassword",
                    data: { Password: $('#cnt-Password').dxTextBox('option', 'text') },
                    dataType: "json",
                    success: function (response)
                    {
                        $("#mod-Password").modal('toggle');
                    },
                    failure: function (response)
                    {
                        alert(response);
                    },
                    error: function (response)
                    {
                        alert(response.responseText);
                    }
                });
            },
            failure: function (response)
            {
                alert(response);
            },
            error: function (response)
            {
                alert(response.responseText);
            }
        });
    }

</script>
