<!-- ========================================================================= -->
<!-- FILE 2: Areas/Dashboard/Views/Shared/_Layout.cshtml                       -->
<!-- ========================================================================= -->

<!-- ADDED BEFORE </head> -->
<!-- (Identical <style id="modern-topbar-css"> block as above injected here) -->

<!-- REPLACED <div class="app-header"> -->

@{
    string xLan = User.FindFirstValue("aiwLan");
}
<div id="header" class="app-header">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="navbar-logo"><i class="ion-md-apps"></i></span> @iT.T(xLan,"2028","Dashboard")</a>
        <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="d-flex align-items-center flex-grow-1 justify-content-end px-3">
        <div class="navbar-nav">
            <div class="navbar-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle">
                    <i class="fa fa-spinner me-1"></i>
                    <span>
                        <span class="d-none d-md-inline">@iT.T(xLan,"1141","Applications")</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="dropdown-menu media-list dropdown-menu-end">
                    @{
                        await Html.RenderPartialAsync("../Home/_Applications");
                    }
                </div>
            </div>
            
            <div class="navbar-item navbar-user dropdown">
                <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                    <i class="fa fa-database me-1"></i>
                    <span>
                        @{
                            if (User.FindFirstValue("aiwLan") == "en")
                            {
                                <span class="d-none d-md-inline">@User.FindFirstValue("aiwDBD2")</span>
                            }
                            else
                            {
                                <span class="d-none d-md-inline">@User.FindFirstValue("aiwDBD1")</span>
                            }
                        }
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end me-1" id="dropdown-database" data-key="@User.FindFirstValue("aiwDBKey")"></div>
            </div>
            
            <div class="navbar-item navbar-user dropdown">
                <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center tag" data-bs-toggle="dropdown">
                    <i class="fa fa-clock me-1"></i>
                    <span>
                        <span class="d-none d-md-inline">@User.FindFirstValue("aiwYear")</span>
                        <b class="caret"></b>
                    </span>
                    <small hidden class="text-danger tag-fin-year" id="txt-YearStatus"> @iT.T(xLan, "1139","Financially Closed")</small>
                </a>
                <div class="dropdown-menu dropdown-menu-end me-1" id="dropdown-year" data-key="@User.FindFirstValue("aiwYear")"></div>
            </div>
        </div>

        <div class="navbar-item divider d-none d-md-block mx-2"></div>

        <div class="navbar-nav">
            <div class="topbar-search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="@iT.T(xLan, "1988", "Search...")" />
            </div>

            <div class="navbar-item navbar-item-icon dropdown">
                <a href="#" class="navbar-link" data-bs-toggle="dropdown">
                    <i class="fa fa-bell"></i>
                    <span class="badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end p-2" style="width: 250px;">
                    <div class="text-center text-muted small py-2">No new notifications</div>
                </div>
            </div>

            <div class="navbar-item navbar-user dropdown">
                <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                    <i class="fa fa-globe me-1"></i>
                    <span>
                        <span class="d-none d-md-inline">@iT.T(xLan,"1969","Language")</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end me-1">
                    <a href="javascript:;" class="dropdown-item" onclick="ChangeLanguage('ar')"><div class="flag-icon flag-icon-sa me-1" title="Arabic"></div> @iT.T(xLan,"1860","Arabic")</a>
                    <a href="javascript:;" class="dropdown-item" onclick="ChangeLanguage('en')"><div class="flag-icon flag-icon-gb me-1" title="English"></div> @iT.T(xLan,"1970","English")</a>
                </div>
            </div>
            
            <div class="navbar-item navbar-user dropdown">
                <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" style="padding-right:0;">
                    <img src="../../Template/assets/img/user/user-12.jpg" alt="" class="user-avatar" />
                    <span>
                        <span class="d-none d-md-inline fw-bold text-dark">@(xLan == "en" ? User.FindFirstValue("eName2") : User.FindFirstValue("eName1"))</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end me-1">
                    <a href="javascript:;" class="dropdown-item"><i class="fa fa-user"></i> User Profile</a>
                    <a href="javascript:;" class="dropdown-item"><i class="fa fa-cog"></i> Setting</a>
                    <a href="javascript:;" class="dropdown-item"><i class="fa fa-lock"></i> Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:;" class="dropdown-item text-danger" onclick="ConfirmLogout()"><i class="fa fa-sign-out-alt"></i> Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
